In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
train = pd.read_csv('train.csv', low_memory = False)
test = pd.read_csv('test.csv', low_memory = False)
validation = pd.read_csv('validation.csv', low_memory = False)

In [3]:
train.head()

,resultId,racerId,driverId,constructorId,number,grid,position_x,positionText_x,positionOrder,points,...,points_y,position,positionText_y,wins,constructorRef,company,nationality_y,url,status,result_driver_standing
0,20025,833,642,51,2,1,1,1,1,9.0,...,3.33,3,3,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,922731975
1,20025,833,642,51,2,1,1,1,1,9.0,...,6.33,3,3,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,923172525
2,20025,833,642,51,2,1,1,1,1,9.0,...,6.33,4,4,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,923833350
3,20025,833,642,51,2,1,1,1,1,9.0,...,10.33,3,3,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,925195050
4,20025,833,642,51,2,1,1,1,1,9.0,...,10.33,4,4,0,alfa,Alfa Romeo,Swiss,http://en.wikipedia.org/wiki/Alfa_Romeo_in_For...,Finished,926576775

In [4]:
train.describe(include = 'all')

,resultId,racerId,driverId,constructorId,number,grid,position_x,positionText_x,positionOrder,points,...,points_y,position,positionText_y,wins,constructorRef,company,nationality_y,url,status,result_driver_standing
count,2.830101e+06,2.830101e+06,2.830101e+06,2.830101e+06,2830101,2.830101e+06,2830101,2830101,2.830101e+06,2.830101e+06,...,2.830101e+06,2.830101e+06,2830101,2.830101e+06,2830101,2830101,2830101,2830101,2830101,2.830101e+06
unique,NaN,NaN,NaN,NaN,129,NaN,34,39,NaN,NaN,...,NaN,NaN,109,NaN,205,205,24,169,128,NaN
top,NaN,NaN,NaN,NaN,1,NaN,\N,R,NaN,NaN,...,NaN,NaN,1,NaN,ferrari,Ferrari,British,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Finished,NaN
freq,NaN,NaN,NaN,NaN,161161,NaN,1125357,980311,NaN,NaN,...,NaN,NaN,169955,NaN,349411,349411,1348596,349411,957905,NaN
mean,9.787394e+03,3.963803e+02,1.380708e+02,3.360054e+01,NaN,9.927363e+00,NaN,NaN,1.166104e+01,2.134603e+00,...,2.000044e+01,1.233200e+01,NaN,4.967021e-01,NaN,NaN,NaN,NaN,NaN,4.021545e+08
std,6.597046e+03,2.523813e+02,1.618397e+02,4.787091e+01,NaN,6.739734e+00,NaN,NaN,7.631561e+00,4.043134e+00,...,3.956139e+01,9.663244e+00,NaN,1.333567e+00,NaN,NaN,NaN,NaN,NaN,4.346233e+08
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,0.000000e+00,NaN,NaN,1.000000e+00,0.000000e+00,...,0.000000e+00,1.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,1.000000e+00
25%,3.896000e+03,1.810000e+02,2.200000e+01,6.000000e+00,NaN,4.000000e+00,NaN,NaN,5.000000e+00,0.000000e+00,...,0.000000e+00,5.000000e+00,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,5.169145e+07
50%,9.179000e+03,3.730000e+02,9.500000e+01,1.700000e+01,NaN,9.000000e+00,NaN,NaN,1.100000e+01,0.000000e+00,...,6.000000e+00,1.000000e+01,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,1.982056e+08
75%,1.487100e+04,5.720000e+02,1.850000e+02,3.400000e+01,NaN,1.500000e+01,NaN,NaN,1.800000e+01,3.000000e+00,...,2.100000e+01,1.700000e+01,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,7.733493e+08
max,2.430500e+04,8.990000e+02,8.240000e+02,2.080000e+02,NaN,3.400000e+01,NaN,NaN,3.900000e+01,2.500000e+01,...,4.130000e+02,1.080000e+02,NaN,1.300000e+01,NaN,NaN,NaN,NaN,NaN,1.698907e+09

In [5]:
train.replace('\\N', np.nan, inplace=True)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 55 columns):
 #   Column                  Dtype
---  ------                  -----
 0   resultId                int64
 1   racerId                 int64
 2   driverId                int64
 3   constructorId           int64
 4   number                  object
 5   grid                    int64
 6   position_x              object
 7   positionText_x          object
 8   positionOrder           int64
 9   points                  float64
 10  laps                    int64
 11  time_x                  object
 12  timetaken_in_millisec   object
 13  fastestLap              object
 14  rank                    object
 15  fastestLapTime          object
 16  max_speed               object
 17  statusId                int64
 18  year                    int64
 19  round                   int64
 20  circuitId               int64
 21  grand_prix              object
 22  date                    object
 23  time_y                  object
 24  url_x                   object
 25  fp1_date                float64
 26  fp1_time                float64
 27  fp2_date                float64
 28  fp2_time                float64
 29  fp3_date                float64
 30  fp3_time                float64
 31  quali_date              float64
 32  quali_time              float64
 33  sprint_date             float64
 34  sprint_time             float64
 35  driverRef               object
 36  driver_num              object
 37  driver_code             object
 38  forename                object
 39  surname                 object
 40  dob                     object
 41  nationality             object
 42  url_y                   object
 43  driverStandingsId       int64
 44  raceId_y                int64
 45  points_y                float64
 46  position                int64
 47  positionText_y          object
 48  wins                    int64
 49  constructorRef          object
 50  company                 object
 51  nationality_y           object
 52  url                     object
 53  status                  object
 54  result_driver_standing  int64
dtypes: float64(12), int64(16), object(27)
memory usage: 1.2+ GB

In [7]:
validation.head()

,resultId,racerId,driverId,constructorId,number,grid,position_x,positionText_x,positionOrder,points,...,points_y,position,positionText_y,wins,constructorRef,company,nationality_y,url,status,result_driver_standing
0,22109,899,17,9,2,4,2,2,2,18.0,...,28.0,8,8,0,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing,Finished,1410907944
1,22109,899,17,9,2,4,2,2,2,18.0,...,53.0,4,4,1,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing,Finished,1411438560
2,22109,899,17,9,2,4,2,2,2,18.0,...,78.0,1,1,2,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing,Finished,1412499792
3,22109,899,17,9,2,4,2,2,2,18.0,...,93.0,1,1,2,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing,Finished,1413030408
4,22109,899,17,9,2,4,2,2,2,18.0,...,103.0,3,3,2,red_bull,Red Bull,Austrian,http://en.wikipedia.org/wiki/Red_Bull_Racing,Finished,1413561024

In [8]:
validation.describe(include = 'all')

,resultId,racerId,driverId,constructorId,number,grid,position_x,positionText_x,positionOrder,points,...,points_y,position,positionText_y,wins,constructorRef,company,nationality_y,url,status,result_driver_standing
count,353762.000000,353762.000000,353762.000000,353762.000000,353762.000000,353762.000000,353762,353762,353762.000000,353762.000000,...,353762.000000,353762.000000,353762.000000,353762.000000,353762,353762,353762,353762,353762,3.537620e+05
unique,NaN,NaN,NaN,NaN,NaN,NaN,23,27,NaN,NaN,...,NaN,NaN,NaN,NaN,14,14,10,14,53,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,\N,R,NaN,NaN,...,NaN,NaN,NaN,NaN,ferrari,Ferrari,British,http://en.wikipedia.org/wiki/Scuderia_Ferrari,Finished,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,62123,58845,NaN,NaN,...,NaN,NaN,NaN,NaN,59410,59410,101355,59410,197949,NaN
mean,23025.644134,949.382096,389.714492,41.551176,22.179802,9.134944,NaN,NaN,9.466336,6.604856,...,59.347843,9.056433,9.056433,0.765486,NaN,NaN,NaN,NaN,NaN,1.371522e+09
std,527.091970,28.717657,399.655969,68.449414,20.437112,5.753342,NaN,NaN,6.078314,7.875208,...,75.019468,5.921759,5.921759,1.804607,NaN,NaN,NaN,NaN,NaN,4.747553e+08
min,22109.000000,899.000000,1.000000,1.000000,1.000000,0.000000,NaN,NaN,1.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,2.211600e+04
25%,22572.000000,927.000000,8.000000,4.000000,7.000000,4.000000,NaN,NaN,4.000000,0.000000,...,7.000000,4.000000,4.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.487298e+09
50%,23024.000000,952.000000,154.000000,6.000000,14.000000,8.000000,NaN,NaN,8.000000,4.000000,...,30.000000,8.000000,8.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.553141e+09
75%,23480.000000,974.000000,822.000000,15.000000,27.000000,13.000000,NaN,NaN,14.000000,12.000000,...,82.000000,13.000000,13.000000,1.000000,NaN,NaN,NaN,NaN,NaN,1.606861e+09
max,23949.000000,997.000000,845.000000,210.000000,99.000000,22.000000,NaN,NaN,22.000000,50.000000,...,454.000000,27.000000,27.000000,15.000000,NaN,NaN,NaN,NaN,NaN,1.728590e+09

In [9]:
validation.replace('\\N', np.nan, inplace=True)

In [10]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353762 entries, 0 to 353761
Data columns (total 55 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   resultId                353762 non-null  int64
 1   racerId                 353762 non-null  int64
 2   driverId                353762 non-null  int64
 3   constructorId           353762 non-null  int64
 4   number                  353762 non-null  int64
 5   grid                    353762 non-null  int64
 6   position_x              291639 non-null  object
 7   positionText_x          353762 non-null  object
 8   positionOrder           353762 non-null  int64
 9   points                  353762 non-null  float64
 10  laps                    353762 non-null  int64
 11  time_x                  198396 non-null  object
 12  timetaken_in_millisec   198396 non-null  object
 13  fastestLap              337372 non-null  object
 14  rank                    353762 non-null  int64
 15  fastestLapTime          337372 non-null  object
 16  max_speed               337372 non-null  object
 17  statusId                353762 non-null  int64
 18  year                    353762 non-null  int64
 19  round                   353762 non-null  int64
 20  circuitId               353762 non-null  int64
 21  grand_prix              353762 non-null  object
 22  date                    353762 non-null  object
 23  time_y                  353762 non-null  object
 24  url_x                   353762 non-null  object
 25  fp1_date                0 non-null       float64
 26  fp1_time                0 non-null       float64
 27  fp2_date                0 non-null       float64
 28  fp2_time                0 non-null       float64
 29  fp3_date                0 non-null       float64
 30  fp3_time                0 non-null       float64
 31  quali_date              0 non-null       float64
 32  quali_time              0 non-null       float64
 33  sprint_date             0 non-null       float64
 34  sprint_time             0 non-null       float64
 35  driverRef               353762 non-null  object
 36  driver_num              353383 non-null  object
 37  driver_code             353762 non-null  object
 38  forename                353762 non-null  object
 39  surname                 353762 non-null  object
 40  dob                     353762 non-null  object
 41  nationality             353762 non-null  object
 42  url_y                   353762 non-null  object
 43  driverStandingsId       353762 non-null  int64
 44  raceId_y                353762 non-null  int64
 45  points_y                353762 non-null  float64
 46  position                353762 non-null  int64
 47  positionText_y          353762 non-null  int64
 48  wins                    353762 non-null  int64
 49  constructorRef          353762 non-null  object
 50  company                 353762 non-null  object
 51  nationality_y           353762 non-null  object
 52  url                     353762 non-null  object
 53  status                  353762 non-null  object
 54  result_driver_standing  353762 non-null  int64
dtypes: float64(12), int64(19), object(24)
memory usage: 148.4+ MB

In [11]:
train.drop(['url_y', 'url', 'url_x', 'positionText_x','fp1_date', 'fp2_date', 'fp3_date','fp1_time', 'fp2_time', 'positionText_y', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'driver_num', 'driver_code', 'number'], axis = 1, inplace = True)

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 37 columns):
 #   Column                  Dtype
---  ------                  -----
 0   resultId                int64
 1   racerId                 int64
 2   driverId                int64
 3   constructorId           int64
 4   grid                    int64
 5   position_x              object
 6   positionOrder           int64
 7   points                  float64
 8   laps                    int64
 9   time_x                  object
 10  timetaken_in_millisec   object
 11  fastestLap              object
 12  rank                    object
 13  fastestLapTime          object
 14  max_speed               object
 15  statusId                int64
 16  year                    int64
 17  round                   int64
 18  circuitId               int64
 19  grand_prix              object
 20  date                    object
 21  time_y                  object
 22  driverRef               object
 23  forename                object
 24  surname                 object
 25  dob                     object
 26  nationality             object
 27  driverStandingsId       int64
 28  raceId_y                int64
 29  points_y                float64
 30  position                int64
 31  wins                    int64
 32  constructorRef          object
 33  company                 object
 34  nationality_y           object
 35  status                  object
 36  result_driver_standing  int64
dtypes: float64(2), int64(16), object(19)
memory usage: 798.9+ MB

In [13]:
validation.drop(['url_y', 'url', 'url_x', 'positionText_x','fp1_date', 'fp2_date', 'fp3_date','fp1_time', 'fp2_time', 'positionText_y', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'driver_num', 'driver_code', 'number'], axis = 1, inplace = True)

In [14]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353762 entries, 0 to 353761
Data columns (total 37 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   resultId                353762 non-null  int64
 1   racerId                 353762 non-null  int64
 2   driverId                353762 non-null  int64
 3   constructorId           353762 non-null  int64
 4   grid                    353762 non-null  int64
 5   position_x              291639 non-null  object
 6   positionOrder           353762 non-null  int64
 7   points                  353762 non-null  float64
 8   laps                    353762 non-null  int64
 9   time_x                  198396 non-null  object
 10  timetaken_in_millisec   198396 non-null  object
 11  fastestLap              337372 non-null  object
 12  rank                    353762 non-null  int64
 13  fastestLapTime          337372 non-null  object
 14  max_speed               337372 non-null  object
 15  statusId                353762 non-null  int64
 16  year                    353762 non-null  int64
 17  round                   353762 non-null  int64
 18  circuitId               353762 non-null  int64
 19  grand_prix              353762 non-null  object
 20  date                    353762 non-null  object
 21  time_y                  353762 non-null  object
 22  driverRef               353762 non-null  object
 23  forename                353762 non-null  object
 24  surname                 353762 non-null  object
 25  dob                     353762 non-null  object
 26  nationality             353762 non-null  object
 27  driverStandingsId       353762 non-null  int64
 28  raceId_y                353762 non-null  int64
 29  points_y                353762 non-null  float64
 30  position                353762 non-null  int64
 31  wins                    353762 non-null  int64
 32  constructorRef          353762 non-null  object
 33  company                 353762 non-null  object
 34  nationality_y           353762 non-null  object
 35  status                  353762 non-null  object
 36  result_driver_standing  353762 non-null  int64
dtypes: float64(2), int64(17), object(18)
memory usage: 99.9+ MB

In [15]:
train['driver_full_name'] = train['forename'].astype(str) + ' ' + train['surname'].astype(str)

train.drop(['forename', 'surname'], axis=1, inplace = True)

In [16]:
validation['driver_full_name'] = validation['forename'].astype(str) + ' ' + validation['surname'].astype(str)

validation.drop(['forename', 'surname'], axis=1, inplace = True)

In [17]:
from datetime import datetime

def calculate_age(dob, year):
    dob = datetime.strptime(dob, '%Y-%m-%d').date()
    age = year - dob.year
    return age

train['age_of_driver_at_time_of_race'] = train.apply(lambda x: calculate_age(x['dob'], x['year']), axis=1)

In [18]:
from datetime import datetime

def calculate_age(dob, year):
    dob = datetime.strptime(dob, '%Y-%m-%d').date()
    age = year - dob.year
    return age

validation['age_of_driver_at_time_of_race'] = validation.apply(lambda x: calculate_age(x['dob'], x['year']), axis=1)

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 37 columns):
 #   Column                         Dtype
---  ------                         -----
 0   resultId                       int64
 1   racerId                        int64
 2   driverId                       int64
 3   constructorId                  int64
 4   grid                           int64
 5   position_x                     object
 6   positionOrder                  int64
 7   points                         float64
 8   laps                           int64
 9   time_x                         object
 10  timetaken_in_millisec          object
 11  fastestLap                     object
 12  rank                           object
 13  fastestLapTime                 object
 14  max_speed                      object
 15  statusId                       int64
 16  year                           int64
 17  round                          int64
 18  circuitId                      int64
 19  grand_prix                     object
 20  date                           object
 21  time_y                         object
 22  driverRef                      object
 23  dob                            object
 24  nationality                    object
 25  driverStandingsId              int64
 26  raceId_y                       int64
 27  points_y                       float64
 28  position                       int64
 29  wins                           int64
 30  constructorRef                 object
 31  company                        object
 32  nationality_y                  object
 33  status                         object
 34  result_driver_standing         int64
 35  driver_full_name               object
 36  age_of_driver_at_time_of_race  int64
dtypes: float64(2), int64(17), object(18)
memory usage: 798.9+ MB

In [20]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353762 entries, 0 to 353761
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   resultId                       353762 non-null  int64
 1   racerId                        353762 non-null  int64
 2   driverId                       353762 non-null  int64
 3   constructorId                  353762 non-null  int64
 4   grid                           353762 non-null  int64
 5   position_x                     291639 non-null  object
 6   positionOrder                  353762 non-null  int64
 7   points                         353762 non-null  float64
 8   laps                           353762 non-null  int64
 9   time_x                         198396 non-null  object
 10  timetaken_in_millisec          198396 non-null  object
 11  fastestLap                     337372 non-null  object
 12  rank                           353762 non-null  int64
 13  fastestLapTime                 337372 non-null  object
 14  max_speed                      337372 non-null  object
 15  statusId                       353762 non-null  int64
 16  year                           353762 non-null  int64
 17  round                          353762 non-null  int64
 18  circuitId                      353762 non-null  int64
 19  grand_prix                     353762 non-null  object
 20  date                           353762 non-null  object
 21  time_y                         353762 non-null  object
 22  driverRef                      353762 non-null  object
 23  dob                            353762 non-null  object
 24  nationality                    353762 non-null  object
 25  driverStandingsId              353762 non-null  int64
 26  raceId_y                       353762 non-null  int64
 27  points_y                       353762 non-null  float64
 28  position                       353762 non-null  int64
 29  wins                           353762 non-null  int64
 30  constructorRef                 353762 non-null  object
 31  company                        353762 non-null  object
 32  nationality_y                  353762 non-null  object
 33  status                         353762 non-null  object
 34  result_driver_standing         353762 non-null  int64
 35  driver_full_name               353762 non-null  object
 36  age_of_driver_at_time_of_race  353762 non-null  int64
dtypes: float64(2), int64(18), object(17)
memory usage: 99.9+ MB

In [21]:
train.rename(columns={'nationality_y': 'company_nationality', 'nationality':'driver_nationality'}, inplace=True)

In [22]:
validation.rename(columns={'nationality_y': 'company_nationality', 'nationality':'driver_nationality'}, inplace=True)

In [23]:
train = train[['driver_full_name', 'driverRef', 'dob', 'driver_nationality', 'driverId', 'company', 'constructorRef', 'constructorId', 'company_nationality', 'grand_prix','circuitId','time_y','year','date','age_of_driver_at_time_of_race','racerId','grid','position_x','positionOrder','points','laps','time_x','timetaken_in_millisec', 'fastestLap','rank','fastestLapTime','max_speed','round', 'statusId','driverStandingsId', 'raceId_y', 'points_y','wins','resultId','status','result_driver_standing','position']]

In [24]:
validation = validation[['driver_full_name', 'driverRef', 'dob', 'driver_nationality', 'driverId', 'company', 'constructorRef', 'constructorId', 'company_nationality', 'grand_prix','circuitId','time_y','year','date','age_of_driver_at_time_of_race','racerId','grid','position_x','positionOrder','points','laps','time_x','timetaken_in_millisec', 'fastestLap','rank','fastestLapTime','max_speed','round', 'statusId','driverStandingsId', 'raceId_y', 'points_y','wins','resultId','status','result_driver_standing','position']]

In [25]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 37 columns):
 #   Column                         Dtype
---  ------                         -----
 0   driver_full_name               object
 1   driverRef                      object
 2   dob                            object
 3   driver_nationality             object
 4   driverId                       int64
 5   company                        object
 6   constructorRef                 object
 7   constructorId                  int64
 8   company_nationality            object
 9   grand_prix                     object
 10  circuitId                      int64
 11  time_y                         object
 12  year                           int64
 13  date                           object
 14  age_of_driver_at_time_of_race  int64
 15  racerId                        int64
 16  grid                           int64
 17  position_x                     object
 18  positionOrder                  int64
 19  points                         float64
 20  laps                           int64
 21  time_x                         object
 22  timetaken_in_millisec          object
 23  fastestLap                     object
 24  rank                           object
 25  fastestLapTime                 object
 26  max_speed                      object
 27  round                          int64
 28  statusId                       int64
 29  driverStandingsId              int64
 30  raceId_y                       int64
 31  points_y                       float64
 32  wins                           int64
 33  resultId                       int64
 34  status                         object
 35  result_driver_standing         int64
 36  position                       int64
dtypes: float64(2), int64(17), object(18)
memory usage: 798.9+ MB

In [26]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353762 entries, 0 to 353761
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               353762 non-null  object
 1   driverRef                      353762 non-null  object
 2   dob                            353762 non-null  object
 3   driver_nationality             353762 non-null  object
 4   driverId                       353762 non-null  int64
 5   company                        353762 non-null  object
 6   constructorRef                 353762 non-null  object
 7   constructorId                  353762 non-null  int64
 8   company_nationality            353762 non-null  object
 9   grand_prix                     353762 non-null  object
 10  circuitId                      353762 non-null  int64
 11  time_y                         353762 non-null  object
 12  year                           353762 non-null  int64
 13  date                           353762 non-null  object
 14  age_of_driver_at_time_of_race  353762 non-null  int64
 15  racerId                        353762 non-null  int64
 16  grid                           353762 non-null  int64
 17  position_x                     291639 non-null  object
 18  positionOrder                  353762 non-null  int64
 19  points                         353762 non-null  float64
 20  laps                           353762 non-null  int64
 21  time_x                         198396 non-null  object
 22  timetaken_in_millisec          198396 non-null  object
 23  fastestLap                     337372 non-null  object
 24  rank                           353762 non-null  int64
 25  fastestLapTime                 337372 non-null  object
 26  max_speed                      337372 non-null  object
 27  round                          353762 non-null  int64
 28  statusId                       353762 non-null  int64
 29  driverStandingsId              353762 non-null  int64
 30  raceId_y                       353762 non-null  int64
 31  points_y                       353762 non-null  float64
 32  wins                           353762 non-null  int64
 33  resultId                       353762 non-null  int64
 34  status                         353762 non-null  object
 35  result_driver_standing         353762 non-null  int64
 36  position                       353762 non-null  int64
dtypes: float64(2), int64(18), object(17)
memory usage: 99.9+ MB

In [27]:
train['position_x'].value_counts()

position_x
1     173496
2     167146
3     158857
4     147906
5     143298
6     131115
7     120458
8     108424
9     103006
10     95492
11     80573
12     67167
13     56896
14     41044
15     35668
16     26162
17     19313
18     11633
19      8454
20      3374
21      2421
22      1922
23       556
24       134
27        41
31        35
32        33
26        25
25        24
30        24
29        16
33        16
28        15
Name: count, dtype: int64

In [28]:
validation['position_x'].value_counts()

position_x
1     24232
4     23935
3     23859
2     22683
5     22486
6     21422
7     20895
8     18683
9     18249
10    16684
11    15603
12    13584
13    12173
14    10955
16     7377
15     7292
17     5701
18     3117
19     1173
20     1042
21      414
22       80
Name: count, dtype: int64

In [29]:
train['position_x'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', nan, '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33'],
      dtype=object)

In [30]:
validation['position_x'].unique()

array(['2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', '19', nan, '1', '20', '21', '22'],
      dtype=object)

In [31]:
train['position_x'] = train['position_x'].astype(float)

In [32]:
validation['position_x'] = validation['position_x'].astype(float)

In [33]:
train['grand_prix'].unique(), train['grand_prix'].value_counts()

(array(['British Grand Prix', 'Monaco Grand Prix', 'Indianapolis 500',
        'Swiss Grand Prix', 'Belgian Grand Prix', 'French Grand Prix',
        'Italian Grand Prix', 'German Grand Prix', 'Spanish Grand Prix',
        'Dutch Grand Prix', 'Argentine Grand Prix', 'Pescara Grand Prix',
        'Portuguese Grand Prix', 'Moroccan Grand Prix',
        'United States Grand Prix', 'South African Grand Prix',
        'Mexican Grand Prix', 'Austrian Grand Prix', 'Canadian Grand Prix',
        'Brazilian Grand Prix', 'Swedish Grand Prix',
        'United States Grand Prix West', 'Japanese Grand Prix',
        'San Marino Grand Prix', 'Caesars Palace Grand Prix',
        'Detroit Grand Prix', 'European Grand Prix', 'Dallas Grand Prix',
        'Australian Grand Prix', 'Hungarian Grand Prix',
        'Pacific Grand Prix', 'Luxembourg Grand Prix',
        'Malaysian Grand Prix', 'Bahrain Grand Prix', 'Chinese Grand Prix',
        'Turkish Grand Prix', 'Singapore Grand Prix',
        'Abu Dhabi Grand Prix', 'Korean Grand Prix', 'Indian Grand Prix'],
       dtype=object),
 grand_prix
 British Grand Prix               188782
 Italian Grand Prix               186126
 Monaco Grand Prix                181741
 German Grand Prix                178167
 Belgian Grand Prix               168052
 French Grand Prix                162820
 Canadian Grand Prix              152180
 Brazilian Grand Prix             145095
 Spanish Grand Prix               143483
 Australian Grand Prix            110964
 Japanese Grand Prix              108150
 Hungarian Grand Prix             107257
 United States Grand Prix         101514
 San Marino Grand Prix             95878
 Austrian Grand Prix               83916
 European Grand Prix               83828
 Dutch Grand Prix                  69052
 South African Grand Prix          63516
 Malaysian Grand Prix              59715
 Portuguese Grand Prix             52544
 Argentine Grand Prix              45994
 Mexican Grand Prix                41069
 Chinese Grand Prix                40779
 Bahrain Grand Prix                36728
 Turkish Grand Prix                28802
 United States Grand Prix West     26789
 Detroit Grand Prix                26249
 Singapore Grand Prix              24948
 Abu Dhabi Grand Prix              20797
 Korean Grand Prix                 16857
 Swedish Grand Prix                16270
 Indianapolis 500                  15186
 Indian Grand Prix                 12663
 Caesars Palace Grand Prix          7732
 Swiss Grand Prix                   7412
 Luxembourg Grand Prix              6616
 Pacific Grand Prix                 6252
 Dallas Grand Prix                  3646
 Moroccan Grand Prix                1529
 Pescara Grand Prix                 1003
 Name: count, dtype: int64)

In [34]:
validation['grand_prix'].unique(), validation['grand_prix'].value_counts()

(array(['Brazilian Grand Prix', 'Australian Grand Prix',
        'Malaysian Grand Prix', 'Bahrain Grand Prix', 'Chinese Grand Prix',
        'Spanish Grand Prix', 'Monaco Grand Prix', 'Canadian Grand Prix',
        'Austrian Grand Prix', 'British Grand Prix', 'German Grand Prix',
        'Hungarian Grand Prix', 'Belgian Grand Prix', 'Italian Grand Prix',
        'Singapore Grand Prix', 'Japanese Grand Prix',
        'Russian Grand Prix', 'United States Grand Prix',
        'Abu Dhabi Grand Prix', 'Mexican Grand Prix',
        'European Grand Prix', 'Azerbaijan Grand Prix',
        'French Grand Prix'], dtype=object),
 grand_prix
 Chinese Grand Prix          19919
 Canadian Grand Prix         19878
 Spanish Grand Prix          19878
 Monaco Grand Prix           19827
 Australian Grand Prix       19682
 Bahrain Grand Prix          19567
 Brazilian Grand Prix        19356
 Austrian Grand Prix         17825
 Malaysian Grand Prix        16306
 Italian Grand Prix          16302
 Japanese Grand Prix         16295
 Singapore Grand Prix        16291
 Belgian Grand Prix          16232
 British Grand Prix          16200
 Russian Grand Prix          16162
 Abu Dhabi Grand Prix        16133
 United States Grand Prix    16021
 Hungarian Grand Prix        15993
 Mexican Grand Prix          12140
 German Grand Prix            8335
 Azerbaijan Grand Prix        7546
 European Grand Prix          4196
 French Grand Prix            3678
 Name: count, dtype: int64)

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 37 columns):
 #   Column                         Dtype
---  ------                         -----
 0   driver_full_name               object
 1   driverRef                      object
 2   dob                            object
 3   driver_nationality             object
 4   driverId                       int64
 5   company                        object
 6   constructorRef                 object
 7   constructorId                  int64
 8   company_nationality            object
 9   grand_prix                     object
 10  circuitId                      int64
 11  time_y                         object
 12  year                           int64
 13  date                           object
 14  age_of_driver_at_time_of_race  int64
 15  racerId                        int64
 16  grid                           int64
 17  position_x                     float64
 18  positionOrder                  int64
 19  points                         float64
 20  laps                           int64
 21  time_x                         object
 22  timetaken_in_millisec          object
 23  fastestLap                     object
 24  rank                           object
 25  fastestLapTime                 object
 26  max_speed                      object
 27  round                          int64
 28  statusId                       int64
 29  driverStandingsId              int64
 30  raceId_y                       int64
 31  points_y                       float64
 32  wins                           int64
 33  resultId                       int64
 34  status                         object
 35  result_driver_standing         int64
 36  position                       int64
dtypes: float64(3), int64(17), object(17)
memory usage: 798.9+ MB

In [36]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353762 entries, 0 to 353761
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               353762 non-null  object
 1   driverRef                      353762 non-null  object
 2   dob                            353762 non-null  object
 3   driver_nationality             353762 non-null  object
 4   driverId                       353762 non-null  int64
 5   company                        353762 non-null  object
 6   constructorRef                 353762 non-null  object
 7   constructorId                  353762 non-null  int64
 8   company_nationality            353762 non-null  object
 9   grand_prix                     353762 non-null  object
 10  circuitId                      353762 non-null  int64
 11  time_y                         353762 non-null  object
 12  year                           353762 non-null  int64
 13  date                           353762 non-null  object
 14  age_of_driver_at_time_of_race  353762 non-null  int64
 15  racerId                        353762 non-null  int64
 16  grid                           353762 non-null  int64
 17  position_x                     291639 non-null  float64
 18  positionOrder                  353762 non-null  int64
 19  points                         353762 non-null  float64
 20  laps                           353762 non-null  int64
 21  time_x                         198396 non-null  object
 22  timetaken_in_millisec          198396 non-null  object
 23  fastestLap                     337372 non-null  object
 24  rank                           353762 non-null  int64
 25  fastestLapTime                 337372 non-null  object
 26  max_speed                      337372 non-null  object
 27  round                          353762 non-null  int64
 28  statusId                       353762 non-null  int64
 29  driverStandingsId              353762 non-null  int64
 30  raceId_y                       353762 non-null  int64
 31  points_y                       353762 non-null  float64
 32  wins                           353762 non-null  int64
 33  resultId                       353762 non-null  int64
 34  status                         353762 non-null  object
 35  result_driver_standing         353762 non-null  int64
 36  position                       353762 non-null  int64
dtypes: float64(3), int64(18), object(16)
memory usage: 99.9+ MB

In [37]:
## spliting lables and features
y_train = train['position']
X_train = train.drop('position',axis=1)
y_validation = validation['position']
X_validation = validation.drop('position',axis=1)

In [38]:
y_train, y_validation

(0           3
 1           3
 2           4
 3           3
 4           4
            ..
 2830096     4
 2830097     4
 2830098     8
 2830099    10
 2830100     8
 Name: position, Length: 2830101, dtype: int64,
 0         8
 1         4
 2         1
 3         1
 4         3
          ..
 353757    1
 353758    1
 353759    3
 353760    5
 353761    5
 Name: position, Length: 353762, dtype: int64)

In [39]:
train.info(), validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 37 columns):
 #   Column                         Dtype
---  ------                         -----
 0   driver_full_name               object
 1   driverRef                      object
 2   dob                            object
 3   driver_nationality             object
 4   driverId                       int64
 5   company                        object
 6   constructorRef                 object
 7   constructorId                  int64
 8   company_nationality            object
 9   grand_prix                     object
 10  circuitId                      int64
 11  time_y                         object
 12  year                           int64
 13  date                           object
 14  age_of_driver_at_time_of_race  int64
 15  racerId                        int64
 16  grid                           int64
 17  position_x                     float64
 18  positionOrder                  int64
 19  points                         float64
 20  laps                           int64
 21  time_x                         object
 22  timetaken_in_millisec          object
 23  fastestLap                     object
 24  rank                           object
 25  fastestLapTime                 object
 26  max_speed                      object
 27  round                          int64
 28  statusId                       int64
 29  driverStandingsId              int64
 30  raceId_y                       int64
 31  points_y                       float64
 32  wins                           int64
 33  resultId                       int64
 34  status                         object
 35  result_driver_standing         int64
 36  position                       int64
dtypes: float64(3), int64(17), object(17)
memory usage: 798.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353762 entries, 0 to 353761
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               353762 non-null  object
 1   driverRef                      353762 non-null  object
 2   dob                            353762 non-null  object
 3   driver_nationality             353762 non-null  object
 4   driverId                       353762 non-null  int64
 5   company                        353762 non-null  object
 6   constructorRef                 353762 non-null  object
 7   constructorId                  353762 non-null  int64
 8   company_nationality            353762 non-null  object
 9   grand_prix                     353762 non-null  object
 10  circuitId                      353762 non-null  int64
 11  time_y                         353762 non-null  object
 12  year                           353762 non-null  int64
 13  date                           353762 non-null  object
 14  age_of_driver_at_time_of_race  353762 non-null  int64
 15  racerId                        353762 non-null  int64
 16  grid                           353762 non-null  int64
 17  position_x                     291639 non-null  float64
 18  positionOrder                  353762 non-null  int64
 19  points                         353762 non-null  float64
 20  laps                           353762 non-null  int64
 21  time_x                         198396 non-null  object
 22  timetaken_in_millisec          198396 non-null  object
 23  fastestLap                     337372 non-null  object
 24  rank                           353762 non-null  int64
 25  fastestLapTime                 337372 non-null  object
 26  max_speed                      337372 non-null  object
 27  round                          353762 non-null  int64
 28  statusId                       353762 non-null  int64
 29  driverStandingsId              353762 non-null  int64
 30  raceId_y                       353762 non-null  int64
 31  points_y                       353762 non-null  float64
 32  wins                           353762 non-null  int64
 33  resultId                       353762 non-null  int64
 34  status                         353762 non-null  object
 35  result_driver_standing         353762 non-null  int64
 36  position                       353762 non-null  int64
dtypes: float64(3), int64(18), object(16)
memory usage: 99.9+ MB

(None, None)

In [40]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
train['timetaken_in_millisec'] = imputer.fit_transform(train[['timetaken_in_millisec']])
train['timetaken_in_millisec'] = train['timetaken_in_millisec'].astype('float64')

In [41]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
validation['timetaken_in_millisec'] = imputer.fit_transform(validation[['timetaken_in_millisec']])
validation['timetaken_in_millisec'] = validation['timetaken_in_millisec'].astype('float64')

In [42]:
train['timetaken_in_millisec'] = (train['timetaken_in_millisec']/60000)
validation['timetaken_in_millisec'] = (validation['timetaken_in_millisec']/60000)

In [43]:
train['fastestLapTime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2830101 entries, 0 to 2830100
Series name: fastestLapTime
Non-Null Count   Dtype
--------------   -----
718091 non-null  object
dtypes: object(1)
memory usage: 21.6+ MB

In [44]:
validation['fastestLapTime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 353762 entries, 0 to 353761
Series name: fastestLapTime
Non-Null Count   Dtype
--------------   -----
337372 non-null  object
dtypes: object(1)
memory usage: 2.7+ MB

In [45]:
train['fastestLapTime'].value_counts()

fastestLapTime
1:14.117    779
1:16.203    725
1:35.877    685
1:33.133    680
1:25.728    661
           ...
1:39.801     11
2:01.148     11
1:25.646     11
1:29.229     11
1:13.700     11
Name: count, Length: 3638, dtype: int64

In [46]:
validation['fastestLapTime'].value_counts()

fastestLapTime
1:43.026    949
1:53.707    643
1:37.466    628
1:38.595    597
1:47.736    587
           ...
1:49.040     18
1:25.005      7
1:18.617      7
1:48.173      7
1:55.312      7
Name: count, Length: 1704, dtype: int64

In [47]:
def extract_minutes(time_string):
    if not pd.isna(time_string):
        minutes, seconds = time_string.split(':')
        minutes = float(minutes)
        seconds = float(seconds)
        total_time = minutes + (seconds / 60)
        return total_time
    return None
train['fastestLapTime'] = train['fastestLapTime'].apply(extract_minutes)
validation['fastestLapTime'] = validation['fastestLapTime'].apply(extract_minutes)
train['fastestLapTime'], validation['fastestLapTime']

(0               NaN
 1               NaN
 2               NaN
 3               NaN
 4               NaN
              ...
 2830096    1.257267
 2830097    1.257267
 2830098    1.257267
 2830099    1.257267
 2830100    1.257267
 Name: fastestLapTime, Length: 2830101, dtype: float64,
 0         1.257267
 1         1.257267
 2         1.257267
 3         1.257267
 4         1.257267
             ...
 353757    1.144350
 353758    1.144350
 353759    1.144350
 353760    1.144350
 353761    1.144350
 Name: fastestLapTime, Length: 353762, dtype: float64)

In [48]:
train['fastestLapTime'] = imputer.fit_transform(train[['fastestLapTime']])
train['fastestLapTime'] = train['fastestLapTime'].astype('float64')
train['fastestLapTime']

0          1.512692
1          1.512692
2          1.512692
3          1.512692
4          1.512692
             ...
2830096    1.257267
2830097    1.257267
2830098    1.257267
2830099    1.257267
2830100    1.257267
Name: fastestLapTime, Length: 2830101, dtype: float64

In [49]:
validation['fastestLapTime'] = imputer.fit_transform(validation[['fastestLapTime']])
validation['fastestLapTime'] = validation['fastestLapTime'].astype('float64')
validation['fastestLapTime']

0         1.257267
1         1.257267
2         1.257267
3         1.257267
4         1.257267
            ...
353757    1.144350
353758    1.144350
353759    1.144350
353760    1.144350
353761    1.144350
Name: fastestLapTime, Length: 353762, dtype: float64

In [50]:
train['max_speed'].value_counts()

max_speed
220.611    753
206.483    674
202.262    642
226.600    635
250.162    628
          ...
215.364     11
210.480     11
244.794     11
207.296     11
208.369     11
Name: count, Length: 3700, dtype: int64

In [51]:
validation['max_speed'].value_counts()

max_speed
199.704    647
193.501    621
206.705    574
191.752    556
193.410    547
          ...
197.316      7
183.472      7
182.276      7
206.029      7
158.127      7
Name: count, Length: 1723, dtype: int64

In [52]:
train['max_speed'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 2830101 entries, 0 to 2830100
Series name: max_speed
Non-Null Count   Dtype
--------------   -----
718091 non-null  object
dtypes: object(1)
memory usage: 21.6+ MB

In [53]:
validation['max_speed'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 353762 entries, 0 to 353761
Series name: max_speed
Non-Null Count   Dtype
--------------   -----
337372 non-null  object
dtypes: object(1)
memory usage: 2.7+ MB

In [54]:
most_frequent_imputer = SimpleImputer(strategy = 'most_frequent')
train["max_speed"] = pd.DataFrame(most_frequent_imputer.fit_transform(train[["max_speed"]]),columns=["max_speed"],index=train.index).astype(np.float64)

train["max_speed"].value_counts()

max_speed
220.611    2112763
206.483        674
202.262        642
226.600        635
250.162        628
            ...
215.364         11
210.480         11
244.794         11
207.296         11
208.369         11
Name: count, Length: 3700, dtype: int64

In [55]:
most_frequent_imputer = SimpleImputer(strategy = 'most_frequent')
validation["max_speed"] = pd.DataFrame(most_frequent_imputer.fit_transform(validation[["max_speed"]]),columns=["max_speed"],index=validation.index).astype(np.float64)

validation["max_speed"].value_counts()

max_speed
199.704    17037
193.501      621
206.705      574
191.752      556
193.410      547
           ...
197.316        7
183.472        7
182.276        7
206.029        7
158.127        7
Name: count, Length: 1723, dtype: int64

In [56]:
train.head(10)

,driver_full_name,driverRef,dob,driver_nationality,driverId,company,constructorRef,constructorId,company_nationality,grand_prix,...,round,statusId,driverStandingsId,raceId_y,points_y,wins,resultId,status,result_driver_standing,position
0,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,46079,792,3.33,0,20025,Finished,922731975,3
1,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,46101,793,6.33,0,20025,Finished,923172525,3
2,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,46134,794,6.33,0,20025,Finished,923833350,4
3,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,46202,795,10.33,0,20025,Finished,925195050,3
4,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,46271,796,10.33,0,20025,Finished,926576775,4
5,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,46343,797,10.33,0,20025,Finished,928018575,4
6,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,46424,798,10.33,0,20025,Finished,929640600,5
7,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,51678,803,6.00,0,20025,Finished,1034851950,7
8,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,51955,806,6.00,0,20025,Finished,1040398875,8
9,Nino Farina,farina,1906-10-30,Italian,642,Alfa Romeo,alfa,51,Swiss,British Grand Prix,...,1,1,52050,807,6.00,0,20025,Finished,1042301250,8

In [57]:
validation.head(10)

,driver_full_name,driverRef,dob,driver_nationality,driverId,company,constructorRef,constructorId,company_nationality,grand_prix,...,round,statusId,driverStandingsId,raceId_y,points_y,wins,resultId,status,result_driver_standing,position
0,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,63816,340,28.0,0,22109,Finished,1410907944,8
1,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,63840,341,53.0,1,22109,Finished,1411438560,4
2,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,63888,342,78.0,2,22109,Finished,1412499792,1
3,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,63912,343,93.0,2,22109,Finished,1413030408,1
4,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,63936,344,103.0,2,22109,Finished,1413561024,3
5,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,63960,345,103.0,2,22109,Finished,1414091640,4
6,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,63984,346,128.0,3,22109,Finished,1414622256,3
7,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,64009,347,136.0,3,22109,Finished,1415174981,3
8,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,64034,348,161.0,4,22109,Finished,1415727706,1
9,Mark Webber,webber,1976-08-27,Australian,17,Red Bull,red_bull,9,Austrian,Brazilian Grand Prix,...,19,1,64059,349,179.0,4,22109,Finished,1416280431,2

In [58]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 37 columns):
 #   Column                         Dtype
---  ------                         -----
 0   driver_full_name               object
 1   driverRef                      object
 2   dob                            object
 3   driver_nationality             object
 4   driverId                       int64
 5   company                        object
 6   constructorRef                 object
 7   constructorId                  int64
 8   company_nationality            object
 9   grand_prix                     object
 10  circuitId                      int64
 11  time_y                         object
 12  year                           int64
 13  date                           object
 14  age_of_driver_at_time_of_race  int64
 15  racerId                        int64
 16  grid                           int64
 17  position_x                     float64
 18  positionOrder                  int64
 19  points                         float64
 20  laps                           int64
 21  time_x                         object
 22  timetaken_in_millisec          float64
 23  fastestLap                     object
 24  rank                           object
 25  fastestLapTime                 float64
 26  max_speed                      float64
 27  round                          int64
 28  statusId                       int64
 29  driverStandingsId              int64
 30  raceId_y                       int64
 31  points_y                       float64
 32  wins                           int64
 33  resultId                       int64
 34  status                         object
 35  result_driver_standing         int64
 36  position                       int64
dtypes: float64(6), int64(17), object(14)
memory usage: 798.9+ MB

In [59]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['grand_prix'] = le.fit_transform(train['grand_prix'])

In [60]:
le = LabelEncoder()
validation['grand_prix'] = le.fit_transform(validation['grand_prix'])

In [61]:
train['grand_prix'].value_counts()

grand_prix
7     188782
20    186126
26    181741
16    178167
5     168052
15    162820
9     152180
6     145095
34    143483
2     110964
21    108150
17    107257
38    101514
31     95878
3      83916
14     83828
13     69052
33     63516
24     59715
30     52544
1      45994
25     41069
10     40779
4      36728
37     28802
39     26789
12     26249
32     24948
0      20797
22     16857
35     16270
19     15186
18     12663
8       7732
36      7412
23      6616
28      6252
11      3646
27      1529
29      1003
Name: count, dtype: int64

In [62]:
validation['grand_prix'].value_counts()

grand_prix
9     19919
8     19878
21    19878
18    19827
1     19682
4     19567
6     19356
2     17825
16    16306
14    16302
15    16295
20    16291
5     16232
7     16200
19    16162
0     16133
22    16021
13    15993
17    12140
12     8335
3      7546
10     4196
11     3678
Name: count, dtype: int64

In [63]:
train['date'] = pd.to_datetime(train['date'])

In [64]:
validation['date'] = pd.to_datetime(validation['date'])

In [65]:
from sklearn.preprocessing import OrdinalEncoder
ord_encoder = OrdinalEncoder()
train['date'] = ord_encoder.fit_transform(train[['date']]).astype(np.float64)
validation['date'] = ord_encoder.fit_transform(validation[['date']]).astype(np.float64)

In [66]:
train['date'].value_counts()

date
483.0    4689
477.0    4681
479.0    4660
478.0    4644
476.0    4633
         ...
0.0       524
9.0       462
92.0      457
896.0     437
4.0       379
Name: count, Length: 897, dtype: int64

In [67]:
validation['date'].value_counts()

date
52.0    4298
59.0    4298
58.0    4298
57.0    4298
56.0    4298
        ...
85.0    3678
86.0    3678
70.0    3661
0.0     3331
88.0    1625
Name: count, Length: 89, dtype: int64

In [68]:
train['driver_full_name'] = le.fit_transform(train['driver_full_name'])
train['driver_full_name'].value_counts()

driver_full_name
715    100408
551     96404
245     80352
394     79608
483     68482
        ...
277         1
690         1
640         1
477         1
84          1
Name: count, Length: 816, dtype: int64

In [69]:
validation['driver_full_name'] = le.fit_transform(validation['driver_full_name'])
validation['driver_full_name'].value_counts()

driver_full_name
14    31688
23    31064
25    28336
39    26312
41    22339
12    21725
8     20592
30    19976
18    19581
43    18744
38    16376
31    12360
29    12075
22    12040
5     11900
9      8658
26     8400
11     4674
24     3780
33     3744
0      2520
10     2419
42     1769
13     1600
35     1573
32     1521
19     1517
21     1248
17     1160
6       920
28      646
20      608
44      361
4       300
36      252
37      234
40      168
3       160
34      136
16      111
27       74
7        39
1        35
15       19
2         8
Name: count, dtype: int64

In [70]:
train['driver_nationality'] = le.fit_transform(train['driver_nationality'])
train['driver_nationality'].value_counts()

driver_nationality
8     516457
22    436975
18    330572
17    311211
7     290196
16    145845
34    101656
5      95810
4      95358
0      93563
6      59202
35     47429
36     46576
28     43433
23     43223
2      33294
9      31837
26     22802
14     21125
33     18079
11     10508
29      7980
39      6195
21      5027
32      3364
20      3055
30      3023
10      1702
31      1127
27       929
13       912
37       570
19       400
25       288
24       260
38        56
15        27
3         18
12         9
1          8
Name: count, dtype: int64

In [71]:
validation['driver_nationality'] = le.fit_transform(validation['driver_nationality'])
validation['driver_nationality'].value_counts()

driver_nationality
10    62697
4     50577
8     49919
18    43822
14    24758
9     24430
3     23325
1     20666
7     12094
6     12040
17     8826
19     8400
5      3780
20     3744
2      1769
13     1248
15      920
16      300
11      252
12      160
0        35
Name: count, dtype: int64

In [72]:
train['company_nationality'] = le.fit_transform(train['company_nationality'])
train['company_nationality'].value_counts()

company_nationality
5     1348596
14     621104
9      278023
23     128600
15      87181
10      85815
13      82861
2       74793
12      28984
0       26025
16      17921
4       17459
22      10070
6        8562
20       5420
11       4140
7        3384
18        610
21        266
17        192
3          57
8          20
19         10
1           8
Name: count, dtype: int64

In [73]:
validation['company_nationality'] = le.fit_transform(validation['company_nationality'])
validation['company_nationality'].value_counts()

company_nationality
2    101355
6     82469
4     46660
5     39242
1     36854
0     15427
9     13983
3     13585
7      2933
8      1254
Name: count, dtype: int64

In [74]:
train['company'] = le.fit_transform(train['company'])
train['status'] = le.fit_transform(train['status'])

In [75]:
validation['company'] = le.fit_transform(validation['company'])
validation['status'] = le.fit_transform(validation['status'])

In [76]:
train = train.rename(columns={'timetaken_in_millisec': 'time_taken'})

In [77]:
validation = validation.rename(columns={'timetaken_in_millisec': 'time_taken'})

In [78]:
train.head(10)

,driver_full_name,driverRef,dob,driver_nationality,driverId,company,constructorRef,constructorId,company_nationality,grand_prix,...,round,statusId,driverStandingsId,raceId_y,points_y,wins,resultId,status,result_driver_standing,position
0,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,46079,792,3.33,0,20025,62,922731975,3
1,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,46101,793,6.33,0,20025,62,923172525,3
2,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,46134,794,6.33,0,20025,62,923833350,4
3,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,46202,795,10.33,0,20025,62,925195050,3
4,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,46271,796,10.33,0,20025,62,926576775,4
5,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,46343,797,10.33,0,20025,62,928018575,4
6,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,46424,798,10.33,0,20025,62,929640600,5
7,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,51678,803,6.00,0,20025,62,1034851950,7
8,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,51955,806,6.00,0,20025,62,1040398875,8
9,590,farina,1906-10-30,22,642,4,alfa,51,23,7,...,1,1,52050,807,6.00,0,20025,62,1042301250,8

In [79]:
validation.head(10)

,driver_full_name,driverRef,dob,driver_nationality,driverId,company,constructorRef,constructorId,company_nationality,grand_prix,...,round,statusId,driverStandingsId,raceId_y,points_y,wins,resultId,status,result_driver_standing,position
0,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,63816,340,28.0,0,22109,22,1410907944,8
1,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,63840,341,53.0,1,22109,22,1411438560,4
2,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,63888,342,78.0,2,22109,22,1412499792,1
3,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,63912,343,93.0,2,22109,22,1413030408,1
4,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,63936,344,103.0,2,22109,22,1413561024,3
5,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,63960,345,103.0,2,22109,22,1414091640,4
6,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,63984,346,128.0,3,22109,22,1414622256,3
7,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,64009,347,136.0,3,22109,22,1415174981,3
8,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,64034,348,161.0,4,22109,22,1415727706,1
9,27,webber,1976-08-27,1,17,9,red_bull,9,1,6,...,19,1,64059,349,179.0,4,22109,22,1416280431,2

In [80]:
train['grid'].value_counts()

grid
1     170021
2     164833
3     164320
4     160292
5     157570
6     148051
7     140700
8     139465
9     134352
10    126465
11    124158
12    119157
13    112145
14    111865
15    101993
0      99328
16     98634
17     90927
18     87099
19     79304
20     75137
21     58198
22     50759
23     35156
24     33389
25     23324
26     17078
27      2120
28      1266
29       888
31       654
32       596
30       553
33       301
34         3
Name: count, dtype: int64

In [81]:
validation['grid'].value_counts()

grid
1     24163
3     23326
2     22949
4     22873
5     22428
6     21497
7     20480
8     19131
10    18870
9     18680
11    17383
12    16758
13    15643
14    14252
15    12905
16    12540
18    11229
17    10258
20    10108
19     8994
22     5176
21     2518
0      1601
Name: count, dtype: int64

In [82]:
train['wins'].value_counts()

wins
0     2245394
1      274899
2      125623
3       63631
4       40952
5       27558
6       22382
7       10689
8        6527
9        5486
10       3008
11       1864
12       1352
13        736
Name: count, dtype: int64

In [83]:
validation['wins'].value_counts()

wins
0     261385
1      34107
2      21513
3      11391
4       6724
5       5402
6       4529
9       2122
7       2052
8       1559
10      1439
11      1018
12       157
13       157
14       138
15        69
Name: count, dtype: int64

In [84]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 37 columns):
 #   Column                         Dtype
---  ------                         -----
 0   driver_full_name               int32
 1   driverRef                      object
 2   dob                            object
 3   driver_nationality             int32
 4   driverId                       int64
 5   company                        int32
 6   constructorRef                 object
 7   constructorId                  int64
 8   company_nationality            int32
 9   grand_prix                     int32
 10  circuitId                      int64
 11  time_y                         object
 12  year                           int64
 13  date                           float64
 14  age_of_driver_at_time_of_race  int64
 15  racerId                        int64
 16  grid                           int64
 17  position_x                     float64
 18  positionOrder                  int64
 19  points                         float64
 20  laps                           int64
 21  time_x                         object
 22  time_taken                     float64
 23  fastestLap                     object
 24  rank                           object
 25  fastestLapTime                 float64
 26  max_speed                      float64
 27  round                          int64
 28  statusId                       int64
 29  driverStandingsId              int64
 30  raceId_y                       int64
 31  points_y                       float64
 32  wins                           int64
 33  resultId                       int64
 34  status                         int32
 35  result_driver_standing         int64
 36  position                       int64
dtypes: float64(7), int32(6), int64(17), object(7)
memory usage: 734.1+ MB

In [85]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353762 entries, 0 to 353761
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               353762 non-null  int32
 1   driverRef                      353762 non-null  object
 2   dob                            353762 non-null  object
 3   driver_nationality             353762 non-null  int32
 4   driverId                       353762 non-null  int64
 5   company                        353762 non-null  int32
 6   constructorRef                 353762 non-null  object
 7   constructorId                  353762 non-null  int64
 8   company_nationality            353762 non-null  int32
 9   grand_prix                     353762 non-null  int32
 10  circuitId                      353762 non-null  int64
 11  time_y                         353762 non-null  object
 12  year                           353762 non-null  int64
 13  date                           353762 non-null  float64
 14  age_of_driver_at_time_of_race  353762 non-null  int64
 15  racerId                        353762 non-null  int64
 16  grid                           353762 non-null  int64
 17  position_x                     291639 non-null  float64
 18  positionOrder                  353762 non-null  int64
 19  points                         353762 non-null  float64
 20  laps                           353762 non-null  int64
 21  time_x                         198396 non-null  object
 22  time_taken                     353762 non-null  float64
 23  fastestLap                     337372 non-null  object
 24  rank                           353762 non-null  int64
 25  fastestLapTime                 353762 non-null  float64
 26  max_speed                      353762 non-null  float64
 27  round                          353762 non-null  int64
 28  statusId                       353762 non-null  int64
 29  driverStandingsId              353762 non-null  int64
 30  raceId_y                       353762 non-null  int64
 31  points_y                       353762 non-null  float64
 32  wins                           353762 non-null  int64
 33  resultId                       353762 non-null  int64
 34  status                         353762 non-null  int32
 35  result_driver_standing         353762 non-null  int64
 36  position                       353762 non-null  int64
dtypes: float64(7), int32(6), int64(18), object(6)
memory usage: 91.8+ MB

In [86]:
train['time_y'].value_counts()

time_y
12:00:00    295894
14:00:00    108979
06:00:00     58850
07:00:00     29253
16:00:00     25742
13:00:00     24835
17:00:00     21031
08:00:00     16779
15:00:00     15807
04:30:00     12874
09:30:00     12663
11:30:00      8514
18:00:00      8429
19:00:00      8187
05:00:00      8081
11:00:00      8009
14:30:00      7976
03:00:00      4229
09:00:00      3943
Name: count, dtype: int64

In [87]:
validation['time_y'].value_counts()

time_y
12:00:00    145966
19:00:00     24276
13:00:00     24197
05:00:00     24021
06:00:00     20380
16:00:00     19356
07:00:00     16306
18:00:00     16200
15:00:00     15889
13:10:00      8981
11:00:00      8098
08:00:00      4139
20:00:00      3885
05:10:00      3678
15:10:00      3678
06:10:00      3678
12:10:00      3678
18:10:00      3678
14:10:00      3678
Name: count, dtype: int64

In [88]:
train['time_x'].value_counts()

time_x
+17.456      744
+4.879       725
+1.5         680
+1.104       666
+2.527       661
            ...
+27.63         8
+8:19.86       8
+16:05.10      7
+8:47.9        6
+1:18.6        1
Name: count, Length: 5076, dtype: int64

In [89]:
validation['time_x'].value_counts()

time_x
+1:25.076    647
+8.800       535
+35.907      526
+1:31.210    372
+44.432      372
            ...
+1:34.543     38
+59.909       38
+18.030       25
+58.241       21
+1:15.277      7
Name: count, Length: 833, dtype: int64

In [90]:
def extract_minutes(time_string):
    if not pd.isna(time_string):
        hours, minutes, seconds = map(float, time_string.split(':'))
        total_time = hours + (minutes / 60) + (seconds / 3600)
        return total_time
    return None

train['time_y'] = train['time_y'].apply(extract_minutes)
validation['time_y'] = validation['time_y'].apply(extract_minutes)

print(train['time_y'])

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
           ...
2830096    16.0
2830097    16.0
2830098    16.0
2830099    16.0
2830100    16.0
Name: time_y, Length: 2830101, dtype: float64

(None,)

In [91]:
print(validation['time_y'])

0         16.000000
1         16.000000
2         16.000000
3         16.000000
4         16.000000
            ...
353757    13.166667
353758    13.166667
353759    13.166667
353760    13.166667
353761    13.166667
Name: time_y, Length: 353762, dtype: float64

In [92]:
most_frequent_imputer = SimpleImputer(strategy = 'most_frequent')
train["time_y"] = pd.DataFrame(most_frequent_imputer.fit_transform(train[["time_y"]]),columns=["time_y"],index=train.index).astype(np.float64)

train["time_y"].value_counts()

time_y
12.0    2445920
14.0     108979
6.0       58850
7.0       29253
16.0      25742
13.0      24835
17.0      21031
8.0       16779
15.0      15807
4.5       12874
9.5       12663
11.5       8514
18.0       8429
19.0       8187
5.0        8081
11.0       8009
14.5       7976
3.0        4229
9.0        3943
Name: count, dtype: int64

In [93]:
validation["time_y"] = pd.DataFrame(most_frequent_imputer.fit_transform(validation[["time_y"]]),columns=["time_y"],index=validation.index).astype(np.float64)

validation["time_y"].value_counts()

time_y
12.000000    145966
19.000000     24276
13.000000     24197
5.000000      24021
6.000000      20380
16.000000     19356
7.000000      16306
18.000000     16200
15.000000     15889
13.166667      8981
11.000000      8098
8.000000       4139
20.000000      3885
5.166667       3678
15.166667      3678
6.166667       3678
12.166667      3678
18.166667      3678
14.166667      3678
Name: count, dtype: int64

In [94]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 37 columns):
 #   Column                         Dtype
---  ------                         -----
 0   driver_full_name               int32
 1   driverRef                      object
 2   dob                            object
 3   driver_nationality             int32
 4   driverId                       int64
 5   company                        int32
 6   constructorRef                 object
 7   constructorId                  int64
 8   company_nationality            int32
 9   grand_prix                     int32
 10  circuitId                      int64
 11  time_y                         float64
 12  year                           int64
 13  date                           float64
 14  age_of_driver_at_time_of_race  int64
 15  racerId                        int64
 16  grid                           int64
 17  position_x                     float64
 18  positionOrder                  int64
 19  points                         float64
 20  laps                           int64
 21  time_x                         object
 22  time_taken                     float64
 23  fastestLap                     object
 24  rank                           object
 25  fastestLapTime                 float64
 26  max_speed                      float64
 27  round                          int64
 28  statusId                       int64
 29  driverStandingsId              int64
 30  raceId_y                       int64
 31  points_y                       float64
 32  wins                           int64
 33  resultId                       int64
 34  status                         int32
 35  result_driver_standing         int64
 36  position                       int64
dtypes: float64(8), int32(6), int64(17), object(6)
memory usage: 734.1+ MB

In [95]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353762 entries, 0 to 353761
Data columns (total 37 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               353762 non-null  int32
 1   driverRef                      353762 non-null  object
 2   dob                            353762 non-null  object
 3   driver_nationality             353762 non-null  int32
 4   driverId                       353762 non-null  int64
 5   company                        353762 non-null  int32
 6   constructorRef                 353762 non-null  object
 7   constructorId                  353762 non-null  int64
 8   company_nationality            353762 non-null  int32
 9   grand_prix                     353762 non-null  int32
 10  circuitId                      353762 non-null  int64
 11  time_y                         353762 non-null  float64
 12  year                           353762 non-null  int64
 13  date                           353762 non-null  float64
 14  age_of_driver_at_time_of_race  353762 non-null  int64
 15  racerId                        353762 non-null  int64
 16  grid                           353762 non-null  int64
 17  position_x                     291639 non-null  float64
 18  positionOrder                  353762 non-null  int64
 19  points                         353762 non-null  float64
 20  laps                           353762 non-null  int64
 21  time_x                         198396 non-null  object
 22  time_taken                     353762 non-null  float64
 23  fastestLap                     337372 non-null  object
 24  rank                           353762 non-null  int64
 25  fastestLapTime                 353762 non-null  float64
 26  max_speed                      353762 non-null  float64
 27  round                          353762 non-null  int64
 28  statusId                       353762 non-null  int64
 29  driverStandingsId              353762 non-null  int64
 30  raceId_y                       353762 non-null  int64
 31  points_y                       353762 non-null  float64
 32  wins                           353762 non-null  int64
 33  resultId                       353762 non-null  int64
 34  status                         353762 non-null  int32
 35  result_driver_standing         353762 non-null  int64
 36  position                       353762 non-null  int64
dtypes: float64(8), int32(6), int64(18), object(5)
memory usage: 91.8+ MB

In [96]:
train['rank'].value_counts()

rank
1     53373
2     50419
3     49540
4     46547
5     44326
6     42857
7     36988
9     36653
11    35133
10    35107
8     35000
13    33197
12    33013
14    30406
15    30148
16    26051
17    21340
18    20283
19    18376
20    14764
21    10277
0      6635
22     6337
23     5163
24     2793
Name: count, dtype: int64

In [97]:
validation['rank'].value_counts()

rank
2     23986
1     23831
3     22876
4     22827
5     20923
6     19591
8     19553
7     19154
9     18985
10    17726
0     16390
11    16217
12    15882
13    15242
14    13694
16    13155
15    12703
17    12009
18    10973
19     7611
20     5423
21     3489
22     1522
Name: count, dtype: int64

In [98]:
train['rank'] = train['rank'].astype(float)

In [99]:
validation['rank'] = validation['rank'].astype(float)

In [100]:
train['fastestLap'].value_counts()

fastestLap
52    26848
53    26277
54    20961
50    20919
55    19761
      ...
72     1490
76     1415
75     1227
78     1223
73      859
Name: count, Length: 77, dtype: int64

In [101]:
validation['fastestLap'].value_counts()

fastestLap
50    14919
51    13409
48    12438
44    10403
47     9856
      ...
7       911
76      879
16      845
8       741
72      647
Name: count, Length: 74, dtype: int64

In [102]:
train['fastestLap'] = train['fastestLap'].astype(float)

In [103]:
validation['fastestLap'] = validation['fastestLap'].astype(float)

In [104]:
def convert_to_minutes(time_string):
    if pd.isna(time_string):
        return None
    if isinstance(time_string, float):
        return None  
    
    time_string = str(time_string) 
    
    if ':' in time_string:
        parts = time_string.split(':')
        if len(parts) == 2:  # format is MM:SS.SSS
            minutes = float(parts[0]) + float(parts[1]) / 60
        elif len(parts) == 3:  # format is HH:MM:SS.SSS
            minutes = float(parts[0]) * 60 + float(parts[1]) + float(parts[2]) / 60
        else:
            return None
    else:
        minutes = float(time_string) / 60 
    return minutes

train['time_x'] = train['time_x'].apply(convert_to_minutes)

validation['time_x'] = validation['time_x'].apply(convert_to_minutes)

In [105]:
train['time_x'].value_counts()

time_x
0.290933     744
0.081317     725
0.025000     680
0.018400     666
0.042117     661
            ...
7.120667       8
8.331000       8
16.085000      7
8.798333       6
1.310000       1
Name: count, Length: 5051, dtype: int64

In [106]:
validation['time_x'].value_counts()

time_x
1.417933    647
0.146667    535
0.598450    526
1.520167    372
0.740533    372
           ...
1.575717     38
0.998483     38
0.300500     25
0.970683     21
1.254617      7
Name: count, Length: 833, dtype: int64

In [107]:
train.drop(['driverRef', 'dob', 'constructorRef'], inplace = True, axis = 1)

In [108]:
validation.drop(['driverRef', 'dob', 'constructorRef'], inplace = True, axis = 1)

In [109]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2830101 entries, 0 to 2830100
Data columns (total 34 columns):
 #   Column                         Dtype
---  ------                         -----
 0   driver_full_name               int32
 1   driver_nationality             int32
 2   driverId                       int64
 3   company                        int32
 4   constructorId                  int64
 5   company_nationality            int32
 6   grand_prix                     int32
 7   circuitId                      int64
 8   time_y                         float64
 9   year                           int64
 10  date                           float64
 11  age_of_driver_at_time_of_race  int64
 12  racerId                        int64
 13  grid                           int64
 14  position_x                     float64
 15  positionOrder                  int64
 16  points                         float64
 17  laps                           int64
 18  time_x                         float64
 19  time_taken                     float64
 20  fastestLap                     float64
 21  rank                           float64
 22  fastestLapTime                 float64
 23  max_speed                      float64
 24  round                          int64
 25  statusId                       int64
 26  driverStandingsId              int64
 27  raceId_y                       int64
 28  points_y                       float64
 29  wins                           int64
 30  resultId                       int64
 31  status                         int32
 32  result_driver_standing         int64
 33  position                       int64
dtypes: float64(11), int32(6), int64(17)
memory usage: 669.4 MB

In [110]:
validation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353762 entries, 0 to 353761
Data columns (total 34 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               353762 non-null  int32
 1   driver_nationality             353762 non-null  int32
 2   driverId                       353762 non-null  int64
 3   company                        353762 non-null  int32
 4   constructorId                  353762 non-null  int64
 5   company_nationality            353762 non-null  int32
 6   grand_prix                     353762 non-null  int32
 7   circuitId                      353762 non-null  int64
 8   time_y                         353762 non-null  float64
 9   year                           353762 non-null  int64
 10  date                           353762 non-null  float64
 11  age_of_driver_at_time_of_race  353762 non-null  int64
 12  racerId                        353762 non-null  int64
 13  grid                           353762 non-null  int64
 14  position_x                     291639 non-null  float64
 15  positionOrder                  353762 non-null  int64
 16  points                         353762 non-null  float64
 17  laps                           353762 non-null  int64
 18  time_x                         198396 non-null  float64
 19  time_taken                     353762 non-null  float64
 20  fastestLap                     337372 non-null  float64
 21  rank                           353762 non-null  float64
 22  fastestLapTime                 353762 non-null  float64
 23  max_speed                      353762 non-null  float64
 24  round                          353762 non-null  int64
 25  statusId                       353762 non-null  int64
 26  driverStandingsId              353762 non-null  int64
 27  raceId_y                       353762 non-null  int64
 28  points_y                       353762 non-null  float64
 29  wins                           353762 non-null  int64
 30  resultId                       353762 non-null  int64
 31  status                         353762 non-null  int32
 32  result_driver_standing         353762 non-null  int64
 33  position                       353762 non-null  int64
dtypes: float64(11), int32(6), int64(17)
memory usage: 83.7 MB

In [111]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [112]:
data = train

In [113]:
#Random Forest Regression using train.csv
y = data['position']
X = data.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap','position'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model building
rf = RandomForestRegressor(random_state=42)
rf.fit(X_train, y_train)

# Make predictions
y_pred = rf.predict(X_test)

# Evaluate the model
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f'RMSE: {rmse}')

RMSE: 0.0007214398025631337

In [114]:
data1 = train

In [115]:
##GradientBoostingRegressor  using train.csv
y = y = data1['position']
X = data1.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap','position'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model building
gbr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=4, random_state=42)
gbr.fit(X_train, y_train)

# Make predictions
y_pred = gbr.predict(X_test)


# Evaluate the model
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f'RMSE: {rmse}')

RMSE: 0.009667171859438647

In [116]:
data2 = train
data3 = validation

In [127]:
#Random Forest Regression using train.csv & validation.csv

y = data2['position']
y_validation = data3['position']
X = data2.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap', 'position'])
X_validation = data3.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap', 'position'])


# Assuming X_train and X_test have NaN values
X_train_filled = X.fillna(0)
X_test_filled = X_validation.fillna(0)

rf = RandomForestRegressor(random_state=42)
rf.fit(X_train_filled, y)

# Make predictions
y_pred = rf.predict(X_test_filled)

# Evaluate the model
rmse = np.sqrt(mean_squared_error(y_validation, y_pred))
print(f'RMSE: {rmse}')

RMSE: 0.0

In [128]:
data4 = train
data5 = validation

In [129]:
##GradientBoostingRegressor  using train.csv and validation.csv

y = data4['position']
y_validation = data5['position']
X = data4.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap','position'])
X_validation = data5.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap','position'])


# Assuming X_train and X_test have NaN values
X_train_filled = X.fillna(0)
X_test_filled = X_validation.fillna(0)


# Model building
gbr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=4, random_state=42)
gbr.fit(X_train_filled, y)

# Make predictions
y_pred = gbr.predict(X_test_filled)


# Evaluate the model
rmse = np.sqrt(mean_squared_error(y_validation, y_pred))
print(f'RMSE: {rmse}')

RMSE: 0.000492110312785264

In [130]:
#Testing our model with the help of test.csv

In [131]:
test.head()

,resultId,racerId,driverId,constructorId,number,grid,position_x,positionText_x,positionOrder,points,...,driverStandingsId,raceId_y,points_y,wins,constructorRef,company,nationality_y,url,status,result_driver_standing
0,23949,997,4,1,14,13,8,8,8,4.0,...,12474,93,16.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,298739826
1,23949,997,4,1,14,13,8,8,8,4.0,...,12494,94,21.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,299218806
2,23949,997,4,1,14,13,8,8,8,4.0,...,12514,95,21.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,299697786
3,23949,997,4,1,14,13,8,8,8,4.0,...,12534,96,25.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,300176766
4,23949,997,4,1,14,13,8,8,8,4.0,...,12554,97,25.0,0,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren,+1 Lap,300655746

In [132]:
test.describe(include = 'all')

,resultId,racerId,driverId,constructorId,number,grid,position_x,positionText_x,positionOrder,points,...,driverStandingsId,raceId_y,points_y,wins,constructorRef,company,nationality_y,url,status,result_driver_standing
count,352928.000000,352928.000000,352928.000000,352928.000000,352928.000000,352928.000000,352928,352928,352928.000000,352928.000000,...,352928.000000,352928.000000,352928.000000,352928.000000,352928,352928,352928,352928,352928,3.529280e+05
unique,NaN,NaN,NaN,NaN,NaN,NaN,21,23,NaN,NaN,...,NaN,NaN,NaN,NaN,15,15,8,15,51,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,\N,R,NaN,NaN,...,NaN,NaN,NaN,NaN,mercedes,Mercedes,British,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...,Finished,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,45237,43368,NaN,NaN,...,NaN,NaN,NaN,NaN,52862,52862,87069,52862,207319,NaN
mean,24975.404870,1050.203744,547.529666,83.750898,25.690520,9.078549,NaN,NaN,9.539611,6.306181,...,64284.466880,906.343481,64.551414,0.778431,NaN,NaN,NaN,NaN,NaN,1.605860e+09
std,612.678756,32.778601,387.594869,84.089011,23.617384,5.690657,NaN,NaN,5.843076,7.866129,...,15933.745567,286.340935,78.175276,1.867018,NaN,NaN,NaN,NaN,NaN,4.007034e+08
min,23949.000000,997.000000,1.000000,1.000000,1.000000,0.000000,NaN,NaN,1.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,2.395700e+04
25%,24443.000000,1021.000000,20.000000,6.000000,7.000000,4.000000,NaN,NaN,4.000000,0.000000,...,67091.000000,918.000000,9.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.656435e+09
50%,24959.000000,1047.000000,817.000000,51.000000,16.000000,9.000000,NaN,NaN,9.000000,2.000000,...,68886.000000,999.000000,35.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.715691e+09
75%,25498.000000,1078.000000,839.000000,131.000000,44.000000,14.000000,NaN,NaN,14.000000,12.000000,...,70380.000000,1054.000000,92.000000,1.000000,NaN,NaN,NaN,NaN,NaN,1.768683e+09
max,26085.000000,1110.000000,858.000000,214.000000,99.000000,20.000000,NaN,NaN,20.000000,26.000000,...,72187.000000,1110.000000,454.000000,15.000000,NaN,NaN,NaN,NaN,NaN,1.882972e+09

In [133]:
test.replace('\\N', np.nan, inplace=True)

In [134]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 53 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   resultId                352928 non-null  int64
 1   racerId                 352928 non-null  int64
 2   driverId                352928 non-null  int64
 3   constructorId           352928 non-null  int64
 4   number                  352928 non-null  int64
 5   grid                    352928 non-null  int64
 6   position_x              307691 non-null  object
 7   positionText_x          352928 non-null  object
 8   positionOrder           352928 non-null  int64
 9   points                  352928 non-null  float64
 10  laps                    352928 non-null  int64
 11  time_x                  207503 non-null  object
 12  timetaken_in_millisec   207503 non-null  object
 13  fastestLap              340703 non-null  object
 14  rank                    352928 non-null  int64
 15  fastestLapTime          340703 non-null  object
 16  max_speed               340703 non-null  object
 17  statusId                352928 non-null  int64
 18  year                    352928 non-null  int64
 19  round                   352928 non-null  int64
 20  circuitId               352928 non-null  int64
 21  grand_prix              352928 non-null  object
 22  date                    352928 non-null  object
 23  time_y                  352928 non-null  object
 24  url_x                   352928 non-null  object
 25  fp1_date                175691 non-null  object
 26  fp1_time                102952 non-null  object
 27  fp2_date                175691 non-null  object
 28  fp2_time                102952 non-null  object
 29  fp3_date                147941 non-null  object
 30  fp3_time                84939 non-null   object
 31  quali_date              175691 non-null  object
 32  quali_time              102952 non-null  object
 33  sprint_date             27750 non-null   object
 34  sprint_time             18013 non-null   object
 35  driverRef               352928 non-null  object
 36  driver_num              352928 non-null  int64
 37  driver_code             352928 non-null  object
 38  forename                352928 non-null  object
 39  surname                 352928 non-null  object
 40  dob                     352928 non-null  object
 41  nationality             352928 non-null  object
 42  url_y                   352928 non-null  object
 43  driverStandingsId       352928 non-null  int64
 44  raceId_y                352928 non-null  int64
 45  points_y                352928 non-null  float64
 46  wins                    352928 non-null  int64
 47  constructorRef          352928 non-null  object
 48  company                 352928 non-null  object
 49  nationality_y           352928 non-null  object
 50  url                     352928 non-null  object
 51  status                  352928 non-null  object
 52  result_driver_standing  352928 non-null  int64
dtypes: float64(2), int64(18), object(33)
memory usage: 142.7+ MB

In [135]:
test.drop(['url_y', 'url', 'url_x', 'positionText_x','fp1_date', 'fp2_date', 'fp3_date','fp1_time', 'fp2_time', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time', 'driver_num', 'driver_code', 'number'], axis = 1, inplace = True)

In [136]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 36 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   resultId                352928 non-null  int64
 1   racerId                 352928 non-null  int64
 2   driverId                352928 non-null  int64
 3   constructorId           352928 non-null  int64
 4   grid                    352928 non-null  int64
 5   position_x              307691 non-null  object
 6   positionOrder           352928 non-null  int64
 7   points                  352928 non-null  float64
 8   laps                    352928 non-null  int64
 9   time_x                  207503 non-null  object
 10  timetaken_in_millisec   207503 non-null  object
 11  fastestLap              340703 non-null  object
 12  rank                    352928 non-null  int64
 13  fastestLapTime          340703 non-null  object
 14  max_speed               340703 non-null  object
 15  statusId                352928 non-null  int64
 16  year                    352928 non-null  int64
 17  round                   352928 non-null  int64
 18  circuitId               352928 non-null  int64
 19  grand_prix              352928 non-null  object
 20  date                    352928 non-null  object
 21  time_y                  352928 non-null  object
 22  driverRef               352928 non-null  object
 23  forename                352928 non-null  object
 24  surname                 352928 non-null  object
 25  dob                     352928 non-null  object
 26  nationality             352928 non-null  object
 27  driverStandingsId       352928 non-null  int64
 28  raceId_y                352928 non-null  int64
 29  points_y                352928 non-null  float64
 30  wins                    352928 non-null  int64
 31  constructorRef          352928 non-null  object
 32  company                 352928 non-null  object
 33  nationality_y           352928 non-null  object
 34  status                  352928 non-null  object
 35  result_driver_standing  352928 non-null  int64
dtypes: float64(2), int64(16), object(18)
memory usage: 96.9+ MB

In [137]:
test['driver_full_name'] = test['forename'].astype(str) + ' ' + test['surname'].astype(str)

test.drop(['forename', 'surname'], axis=1, inplace = True)

In [138]:
def calculate_age(dob, year):
    dob = datetime.strptime(dob, '%d-%m-%Y').date()
    age = year - dob.year
    return age

test['age_of_driver_at_time_of_race'] = test.apply(lambda x: calculate_age(x['dob'], x['year']), axis=1)

In [139]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   resultId                       352928 non-null  int64
 1   racerId                        352928 non-null  int64
 2   driverId                       352928 non-null  int64
 3   constructorId                  352928 non-null  int64
 4   grid                           352928 non-null  int64
 5   position_x                     307691 non-null  object
 6   positionOrder                  352928 non-null  int64
 7   points                         352928 non-null  float64
 8   laps                           352928 non-null  int64
 9   time_x                         207503 non-null  object
 10  timetaken_in_millisec          207503 non-null  object
 11  fastestLap                     340703 non-null  object
 12  rank                           352928 non-null  int64
 13  fastestLapTime                 340703 non-null  object
 14  max_speed                      340703 non-null  object
 15  statusId                       352928 non-null  int64
 16  year                           352928 non-null  int64
 17  round                          352928 non-null  int64
 18  circuitId                      352928 non-null  int64
 19  grand_prix                     352928 non-null  object
 20  date                           352928 non-null  object
 21  time_y                         352928 non-null  object
 22  driverRef                      352928 non-null  object
 23  dob                            352928 non-null  object
 24  nationality                    352928 non-null  object
 25  driverStandingsId              352928 non-null  int64
 26  raceId_y                       352928 non-null  int64
 27  points_y                       352928 non-null  float64
 28  wins                           352928 non-null  int64
 29  constructorRef                 352928 non-null  object
 30  company                        352928 non-null  object
 31  nationality_y                  352928 non-null  object
 32  status                         352928 non-null  object
 33  result_driver_standing         352928 non-null  int64
 34  driver_full_name               352928 non-null  object
 35  age_of_driver_at_time_of_race  352928 non-null  int64
dtypes: float64(2), int64(17), object(17)
memory usage: 96.9+ MB

In [140]:
test.rename(columns={'nationality_y': 'company_nationality', 'nationality':'driver_nationality'}, inplace=True)

In [141]:
test = test[['driver_full_name', 'driverRef', 'dob', 'driver_nationality', 'driverId', 'company', 'constructorRef', 'constructorId', 'company_nationality', 'grand_prix','circuitId','time_y','year','date','age_of_driver_at_time_of_race','racerId','grid','position_x','positionOrder','points','laps','time_x','timetaken_in_millisec', 'fastestLap','rank','fastestLapTime','max_speed','round', 'statusId','driverStandingsId', 'raceId_y', 'points_y','wins','resultId','status','result_driver_standing']]

In [142]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               352928 non-null  object
 1   driverRef                      352928 non-null  object
 2   dob                            352928 non-null  object
 3   driver_nationality             352928 non-null  object
 4   driverId                       352928 non-null  int64
 5   company                        352928 non-null  object
 6   constructorRef                 352928 non-null  object
 7   constructorId                  352928 non-null  int64
 8   company_nationality            352928 non-null  object
 9   grand_prix                     352928 non-null  object
 10  circuitId                      352928 non-null  int64
 11  time_y                         352928 non-null  object
 12  year                           352928 non-null  int64
 13  date                           352928 non-null  object
 14  age_of_driver_at_time_of_race  352928 non-null  int64
 15  racerId                        352928 non-null  int64
 16  grid                           352928 non-null  int64
 17  position_x                     307691 non-null  object
 18  positionOrder                  352928 non-null  int64
 19  points                         352928 non-null  float64
 20  laps                           352928 non-null  int64
 21  time_x                         207503 non-null  object
 22  timetaken_in_millisec          207503 non-null  object
 23  fastestLap                     340703 non-null  object
 24  rank                           352928 non-null  int64
 25  fastestLapTime                 340703 non-null  object
 26  max_speed                      340703 non-null  object
 27  round                          352928 non-null  int64
 28  statusId                       352928 non-null  int64
 29  driverStandingsId              352928 non-null  int64
 30  raceId_y                       352928 non-null  int64
 31  points_y                       352928 non-null  float64
 32  wins                           352928 non-null  int64
 33  resultId                       352928 non-null  int64
 34  status                         352928 non-null  object
 35  result_driver_standing         352928 non-null  int64
dtypes: float64(2), int64(17), object(17)
memory usage: 96.9+ MB

In [143]:
test['position_x'].value_counts()

position_x
1     24937
2     23823
3     22085
4     20050
5     19939
7     19129
8     18955
6     18942
9     17457
12    16954
10    16809
11    16321
13    15827
15    13824
14    13555
17    10736
16     9080
18     6026
19     2540
20      702
Name: count, dtype: int64

In [144]:
test['position_x'].unique()

array(['8', '9', '10', '11', '12', '13', '14', '15', nan, '1', '2', '3',
       '4', '5', '6', '7', '16', '17', '18', '19', '20'], dtype=object)

In [145]:
test['position_x'] = test['position_x'].astype(float)

In [146]:
test['grand_prix'].unique(), test['grand_prix'].value_counts()

(array(['Austrian Grand Prix', 'British Grand Prix', 'German Grand Prix',
        'Hungarian Grand Prix', 'Belgian Grand Prix', 'Italian Grand Prix',
        'Singapore Grand Prix', 'Russian Grand Prix',
        'Japanese Grand Prix', 'United States Grand Prix',
        'Mexican Grand Prix', 'Brazilian Grand Prix',
        'Abu Dhabi Grand Prix', 'Australian Grand Prix',
        'Bahrain Grand Prix', 'Chinese Grand Prix',
        'Azerbaijan Grand Prix', 'Spanish Grand Prix', 'Monaco Grand Prix',
        'Canadian Grand Prix', 'French Grand Prix', 'Styrian Grand Prix',
        '70th Anniversary Grand Prix', 'Tuscan Grand Prix',
        'Eifel Grand Prix', 'Portuguese Grand Prix',
        'Emilia Romagna Grand Prix', 'Turkish Grand Prix',
        'Sakhir Grand Prix', 'Dutch Grand Prix', 'Mexico City Grand Prix',
        'SÃ£o Paulo Grand Prix', 'Qatar Grand Prix',
        'Saudi Arabian Grand Prix', 'Miami Grand Prix'], dtype=object),
 grand_prix
 Hungarian Grand Prix           20071
 Belgian Grand Prix             20056
 British Grand Prix             19844
 Austrian Grand Prix            18234
 Abu Dhabi Grand Prix           16887
 Italian Grand Prix             16765
 Spanish Grand Prix             16185
 Bahrain Grand Prix             16096
 Russian Grand Prix             13918
 United States Grand Prix       13690
 Monaco Grand Prix              12809
 Azerbaijan Grand Prix          12805
 Singapore Grand Prix           10366
 Brazilian Grand Prix           10363
 Japanese Grand Prix            10353
 French Grand Prix              10018
 Emilia Romagna Grand Prix       9856
 Australian Grand Prix           9479
 Canadian Grand Prix             9475
 Saudi Arabian Grand Prix        9192
 German Grand Prix               7212
 Mexican Grand Prix              7208
 Portuguese Grand Prix           6710
 Turkish Grand Prix              6709
 Styrian Grand Prix              6709
 Mexico City Grand Prix          6472
 Dutch Grand Prix                6226
 Miami Grand Prix                5936
 Chinese Grand Prix              3535
 Eifel Grand Prix                3479
 Tuscan Grand Prix               3381
 70th Anniversary Grand Prix     3354
 Qatar Grand Prix                3328
 SÃ£o Paulo Grand Prix            3327
 Sakhir Grand Prix               2880
 Name: count, dtype: int64)

In [147]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               352928 non-null  object
 1   driverRef                      352928 non-null  object
 2   dob                            352928 non-null  object
 3   driver_nationality             352928 non-null  object
 4   driverId                       352928 non-null  int64
 5   company                        352928 non-null  object
 6   constructorRef                 352928 non-null  object
 7   constructorId                  352928 non-null  int64
 8   company_nationality            352928 non-null  object
 9   grand_prix                     352928 non-null  object
 10  circuitId                      352928 non-null  int64
 11  time_y                         352928 non-null  object
 12  year                           352928 non-null  int64
 13  date                           352928 non-null  object
 14  age_of_driver_at_time_of_race  352928 non-null  int64
 15  racerId                        352928 non-null  int64
 16  grid                           352928 non-null  int64
 17  position_x                     307691 non-null  float64
 18  positionOrder                  352928 non-null  int64
 19  points                         352928 non-null  float64
 20  laps                           352928 non-null  int64
 21  time_x                         207503 non-null  object
 22  timetaken_in_millisec          207503 non-null  object
 23  fastestLap                     340703 non-null  object
 24  rank                           352928 non-null  int64
 25  fastestLapTime                 340703 non-null  object
 26  max_speed                      340703 non-null  object
 27  round                          352928 non-null  int64
 28  statusId                       352928 non-null  int64
 29  driverStandingsId              352928 non-null  int64
 30  raceId_y                       352928 non-null  int64
 31  points_y                       352928 non-null  float64
 32  wins                           352928 non-null  int64
 33  resultId                       352928 non-null  int64
 34  status                         352928 non-null  object
 35  result_driver_standing         352928 non-null  int64
dtypes: float64(3), int64(17), object(16)
memory usage: 96.9+ MB

In [148]:
#y_test = test['position']
#X_test = test.drop('position',axis=1)

In [149]:
#y_test

In [150]:
imputer = SimpleImputer(strategy='mean')
test['timetaken_in_millisec'] = imputer.fit_transform(test[['timetaken_in_millisec']])
test['timetaken_in_millisec'] = test['timetaken_in_millisec'].astype('float64')

In [151]:
test['timetaken_in_millisec'] = (test['timetaken_in_millisec']/60000)

In [152]:
test['fastestLapTime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 352928 entries, 0 to 352927
Series name: fastestLapTime
Non-Null Count   Dtype
--------------   -----
340703 non-null  object
dtypes: object(1)
memory usage: 2.7+ MB

In [153]:
test['fastestLapTime'].value_counts()

fastestLapTime
01:32.8    2701
01:20.9    2444
01:30.5    2338
01:20.7    2175
01:19.5    2169
           ...
01:51.4      56
01:52.6      44
01:50.2      34
01:34.3      12
00:57.7       2
Name: count, Length: 464, dtype: int64

In [154]:
def extract_minutes(time_string):
    if not pd.isna(time_string):
        minutes, seconds = time_string.split(':')
        minutes = float(minutes)
        seconds = float(seconds)
        total_time = minutes + (seconds / 60)
        return total_time
    return None
test['fastestLapTime'] = test['fastestLapTime'].apply(extract_minutes)
test['fastestLapTime']

0         1.145
1         1.145
2         1.145
3         1.145
4         1.145
          ...
352923      NaN
352924      NaN
352925      NaN
352926      NaN
352927      NaN
Name: fastestLapTime, Length: 352928, dtype: float64

In [155]:
test['fastestLapTime'] = imputer.fit_transform(test[['fastestLapTime']])
test['fastestLapTime'] = test['fastestLapTime'].astype('float64')
test['fastestLapTime']

0         1.145000
1         1.145000
2         1.145000
3         1.145000
4         1.145000
            ...
352923    1.469611
352924    1.469611
352925    1.469611
352926    1.469611
352927    1.469611
Name: fastestLapTime, Length: 352928, dtype: float64

In [156]:
test['max_speed'].value_counts()

max_speed
204.645    702
217.054    621
211.738    492
227.894    470
233.602    468
          ...
213.083     12
211.76      12
222.24       2
220.892      2
196.588      2
Name: count, Length: 2017, dtype: int64

In [157]:
test['max_speed'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 352928 entries, 0 to 352927
Series name: max_speed
Non-Null Count   Dtype
--------------   -----
340703 non-null  object
dtypes: object(1)
memory usage: 2.7+ MB

In [158]:
most_frequent_imputer = SimpleImputer(strategy = 'most_frequent')
test["max_speed"] = pd.DataFrame(most_frequent_imputer.fit_transform(test[["max_speed"]]),columns=["max_speed"],index=test.index).astype(np.float64)

test["max_speed"].value_counts()

max_speed
204.645    12927
217.054      621
211.738      492
227.894      470
233.602      468
           ...
213.083       12
211.760       12
222.240        2
220.892        2
196.588        2
Name: count, Length: 2017, dtype: int64

In [159]:
test.head(10)

,driver_full_name,driverRef,dob,driver_nationality,driverId,company,constructorRef,constructorId,company_nationality,grand_prix,...,max_speed,round,statusId,driverStandingsId,raceId_y,points_y,wins,resultId,status,result_driver_standing
0,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12474,93,16.0,0,23949,+1 Lap,298739826
1,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12494,94,21.0,0,23949,+1 Lap,299218806
2,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12514,95,21.0,0,23949,+1 Lap,299697786
3,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12534,96,25.0,0,23949,+1 Lap,300176766
4,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12554,97,25.0,0,23949,+1 Lap,300655746
5,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12575,98,25.0,0,23949,+1 Lap,301158675
6,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12596,99,33.0,0,23949,+1 Lap,301661604
7,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12618,100,33.0,0,23949,+1 Lap,302188482
8,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12640,101,39.0,0,23949,+1 Lap,302715360
9,Fernando Alonso,alonso,29-07-1981,Spanish,4,McLaren,mclaren,1,British,Austrian Grand Prix,...,226.399,9,11,12663,102,45.0,0,23949,+1 Lap,303266187

In [160]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               352928 non-null  object
 1   driverRef                      352928 non-null  object
 2   dob                            352928 non-null  object
 3   driver_nationality             352928 non-null  object
 4   driverId                       352928 non-null  int64
 5   company                        352928 non-null  object
 6   constructorRef                 352928 non-null  object
 7   constructorId                  352928 non-null  int64
 8   company_nationality            352928 non-null  object
 9   grand_prix                     352928 non-null  object
 10  circuitId                      352928 non-null  int64
 11  time_y                         352928 non-null  object
 12  year                           352928 non-null  int64
 13  date                           352928 non-null  object
 14  age_of_driver_at_time_of_race  352928 non-null  int64
 15  racerId                        352928 non-null  int64
 16  grid                           352928 non-null  int64
 17  position_x                     307691 non-null  float64
 18  positionOrder                  352928 non-null  int64
 19  points                         352928 non-null  float64
 20  laps                           352928 non-null  int64
 21  time_x                         207503 non-null  object
 22  timetaken_in_millisec          352928 non-null  float64
 23  fastestLap                     340703 non-null  object
 24  rank                           352928 non-null  int64
 25  fastestLapTime                 352928 non-null  float64
 26  max_speed                      352928 non-null  float64
 27  round                          352928 non-null  int64
 28  statusId                       352928 non-null  int64
 29  driverStandingsId              352928 non-null  int64
 30  raceId_y                       352928 non-null  int64
 31  points_y                       352928 non-null  float64
 32  wins                           352928 non-null  int64
 33  resultId                       352928 non-null  int64
 34  status                         352928 non-null  object
 35  result_driver_standing         352928 non-null  int64
dtypes: float64(6), int64(17), object(13)
memory usage: 96.9+ MB

In [161]:
test['grand_prix'] = le.fit_transform(test['grand_prix'])

In [162]:
test['grand_prix'].value_counts()

grand_prix
16    20071
6     20056
8     19844
3     18234
1     16887
17    16765
29    16185
5     16096
25    13918
34    13690
22    12809
4     12805
28    10366
7     10363
18    10353
14    10018
13     9856
2      9479
9      9475
27     9192
15     7212
19     7208
23     6710
32     6709
30     6709
20     6472
11     6226
21     5936
10     3535
12     3479
33     3381
0      3354
24     3328
31     3327
26     2880
Name: count, dtype: int64

In [163]:
test['date'] = pd.to_datetime(test['date'], format='%d-%m-%Y')

In [164]:
test['date'] = ord_encoder.fit_transform(test[['date']]).astype(np.float64)

In [165]:
test['date'].value_counts()

date
2.0      3678
3.0      3678
10.0     3677
4.0      3677
7.0      3677
         ...
104.0    2784
102.0    2783
99.0     2781
103.0    2780
0.0      2053
Name: count, Length: 107, dtype: int64

In [166]:
test['driver_full_name'] = le.fit_transform(test['driver_full_name'])
test['driver_full_name'].value_counts()

driver_full_name
16    34059
30    27447
32    26042
8     25518
13    24656
34    22711
5     22644
3     18664
19    18514
12    14399
14    14285
26    12930
4     12288
22    11544
7     10421
9      8826
29     8822
15     8799
0      5100
1      4794
6      4440
21     3713
35     3135
28     2414
20     1931
18     1300
10     1156
33      793
23      483
2       325
31      272
24      209
17      144
25      144
27        4
11        2
Name: count, dtype: int64

In [167]:
test['driver_nationality'] = le.fit_transform(test['driver_nationality'])
test['driver_nationality'].value_counts()

driver_nationality
4     51686
9     47367
19    44182
11    40922
10    32173
14    26042
1     22788
8     18723
5     17998
7     14399
15    12288
18     5195
21     5100
12     4794
13     3135
17     2414
20     1300
6      1156
2       793
16      325
0       144
3         4
Name: count, dtype: int64

In [168]:
test['company_nationality'] = le.fit_transform(test['company_nationality'])
test['company_nationality'].value_counts()

company_nationality
2    87069
6    59159
4    52862
3    45570
1    38876
7    36566
0    28342
5     4484
Name: count, dtype: int64

In [169]:
test['company'] = le.fit_transform(test['company'])
test['status'] = le.fit_transform(test['status'])

In [170]:
test = test.rename(columns={'timetaken_in_millisec': 'time_taken'})

In [171]:
test.head(10)

,driver_full_name,driverRef,dob,driver_nationality,driverId,company,constructorRef,constructorId,company_nationality,grand_prix,...,max_speed,round,statusId,driverStandingsId,raceId_y,points_y,wins,resultId,status,result_driver_standing
0,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12474,93,16.0,0,23949,0,298739826
1,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12494,94,21.0,0,23949,0,299218806
2,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12514,95,21.0,0,23949,0,299697786
3,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12534,96,25.0,0,23949,0,300176766
4,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12554,97,25.0,0,23949,0,300655746
5,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12575,98,25.0,0,23949,0,301158675
6,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12596,99,33.0,0,23949,0,301661604
7,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12618,100,33.0,0,23949,0,302188482
8,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12640,101,39.0,0,23949,0,302715360
9,8,alonso,29-07-1981,19,4,7,mclaren,1,2,3,...,226.399,9,11,12663,102,45.0,0,23949,0,303266187

In [172]:
test['grid'].value_counts()

grid
2     24754
1     22902
3     22332
4     21053
5     19509
7     19006
13    18460
10    18288
9     18153
11    18124
6     17808
8     16906
14    16301
12    16012
15    15518
16    14447
17    13926
19    11742
18    11434
20     8612
0      7641
Name: count, dtype: int64

In [173]:
test['wins'].value_counts()

wins
0     260723
1      34888
2      20969
3      11233
4       6336
5       4904
6       3800
7       2327
9       2280
10      1772
8       1766
11      1216
14       212
12       198
13       198
15       106
Name: count, dtype: int64

In [174]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               352928 non-null  int32
 1   driverRef                      352928 non-null  object
 2   dob                            352928 non-null  object
 3   driver_nationality             352928 non-null  int32
 4   driverId                       352928 non-null  int64
 5   company                        352928 non-null  int32
 6   constructorRef                 352928 non-null  object
 7   constructorId                  352928 non-null  int64
 8   company_nationality            352928 non-null  int32
 9   grand_prix                     352928 non-null  int32
 10  circuitId                      352928 non-null  int64
 11  time_y                         352928 non-null  object
 12  year                           352928 non-null  int64
 13  date                           352928 non-null  float64
 14  age_of_driver_at_time_of_race  352928 non-null  int64
 15  racerId                        352928 non-null  int64
 16  grid                           352928 non-null  int64
 17  position_x                     307691 non-null  float64
 18  positionOrder                  352928 non-null  int64
 19  points                         352928 non-null  float64
 20  laps                           352928 non-null  int64
 21  time_x                         207503 non-null  object
 22  time_taken                     352928 non-null  float64
 23  fastestLap                     340703 non-null  object
 24  rank                           352928 non-null  int64
 25  fastestLapTime                 352928 non-null  float64
 26  max_speed                      352928 non-null  float64
 27  round                          352928 non-null  int64
 28  statusId                       352928 non-null  int64
 29  driverStandingsId              352928 non-null  int64
 30  raceId_y                       352928 non-null  int64
 31  points_y                       352928 non-null  float64
 32  wins                           352928 non-null  int64
 33  resultId                       352928 non-null  int64
 34  status                         352928 non-null  int32
 35  result_driver_standing         352928 non-null  int64
dtypes: float64(7), int32(6), int64(17), object(6)
memory usage: 88.9+ MB

In [175]:
test['time_y'].value_counts()

time_y
13:10:00    96523
13:00:00    81910
12:10:00    17509
14:00:00    15924
12:00:00    13150
05:10:00    10742
19:10:00    10740
11:10:00    10590
17:10:00    10087
19:00:00     9807
17:00:00     9192
15:00:00     9174
18:00:00     9095
05:00:00     9090
18:10:00     7213
11:00:00     5940
19:30:00     5936
06:10:00     3535
15:10:00     3535
14:10:00     3387
10:10:00     3376
17:30:00     3327
20:00:00     3146
Name: count, dtype: int64

In [176]:
test['time_x'].value_counts()

time_x
46.358       671
9.452        566
31.115       372
9.57         372
+1:43.001    372
            ...
+1:02.572     12
+1:26.501     12
+1:44.476     12
36.858         2
33.674         2
Name: count, Length: 1146, dtype: int64

In [177]:
def extract_minutes1(time_string):
    if not pd.isna(time_string):
        hours, minutes, seconds = map(float, time_string.split(':'))
        total_time = hours + (minutes / 60) + (seconds / 3600)
        return total_time
    return None
test['time_y'] = test['time_y'].apply(extract_minutes1)
print(test['time_y'])

0         13.166667
1         13.166667
2         13.166667
3         13.166667
4         13.166667
            ...
352923    13.000000
352924    13.000000
352925    13.000000
352926    13.000000
352927    13.000000
Name: time_y, Length: 352928, dtype: float64

In [178]:
most_frequent_imputer = SimpleImputer(strategy = 'most_frequent')
test["time_y"] = pd.DataFrame(most_frequent_imputer.fit_transform(test[["time_y"]]),columns=["time_y"],index=test.index).astype(np.float64)

test["time_y"].value_counts()

time_y
13.166667    96523
13.000000    81910
12.166667    17509
14.000000    15924
12.000000    13150
5.166667     10742
19.166667    10740
11.166667    10590
17.166667    10087
19.000000     9807
17.000000     9192
15.000000     9174
18.000000     9095
5.000000      9090
18.166667     7213
11.000000     5940
19.500000     5936
6.166667      3535
15.166667     3535
14.166667     3387
10.166667     3376
17.500000     3327
20.000000     3146
Name: count, dtype: int64

In [179]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 36 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               352928 non-null  int32
 1   driverRef                      352928 non-null  object
 2   dob                            352928 non-null  object
 3   driver_nationality             352928 non-null  int32
 4   driverId                       352928 non-null  int64
 5   company                        352928 non-null  int32
 6   constructorRef                 352928 non-null  object
 7   constructorId                  352928 non-null  int64
 8   company_nationality            352928 non-null  int32
 9   grand_prix                     352928 non-null  int32
 10  circuitId                      352928 non-null  int64
 11  time_y                         352928 non-null  float64
 12  year                           352928 non-null  int64
 13  date                           352928 non-null  float64
 14  age_of_driver_at_time_of_race  352928 non-null  int64
 15  racerId                        352928 non-null  int64
 16  grid                           352928 non-null  int64
 17  position_x                     307691 non-null  float64
 18  positionOrder                  352928 non-null  int64
 19  points                         352928 non-null  float64
 20  laps                           352928 non-null  int64
 21  time_x                         207503 non-null  object
 22  time_taken                     352928 non-null  float64
 23  fastestLap                     340703 non-null  object
 24  rank                           352928 non-null  int64
 25  fastestLapTime                 352928 non-null  float64
 26  max_speed                      352928 non-null  float64
 27  round                          352928 non-null  int64
 28  statusId                       352928 non-null  int64
 29  driverStandingsId              352928 non-null  int64
 30  raceId_y                       352928 non-null  int64
 31  points_y                       352928 non-null  float64
 32  wins                           352928 non-null  int64
 33  resultId                       352928 non-null  int64
 34  status                         352928 non-null  int32
 35  result_driver_standing         352928 non-null  int64
dtypes: float64(8), int32(6), int64(17), object(5)
memory usage: 88.9+ MB

In [180]:
test['rank'].value_counts()

rank
2     23088
3     22661
1     22128
4     20992
5     20964
7     19083
9     18119
6     18031
10    17867
14    17429
11    16651
8     16616
15    16417
13    16015
12    15300
16    14122
17    14049
18    12851
0     12225
19    11061
20     7259
Name: count, dtype: int64

In [181]:
test['rank'] = test['rank'].astype(float)

In [182]:
test['fastestLap'].value_counts()

fastestLap
53    15566
50    13679
52    13042
51    12652
48    11602
      ...
78      234
85      228
76      188
74      135
75      123
Name: count, Length: 77, dtype: int64

In [183]:
test['fastestLap'] = test['fastestLap'].astype(float)

In [184]:
def convert_to_minutes(time_string):
    if pd.isna(time_string):
        return None
    if isinstance(time_string, float):
        return None  
    
    time_string = str(time_string) 
    
    if ':' in time_string:
        parts = time_string.split(':')
        if len(parts) == 2:  # format is MM:SS.SSS
            minutes = float(parts[0]) + float(parts[1]) / 60
        elif len(parts) == 3:  # format is HH:MM:SS.SSS
            minutes = float(parts[0]) * 60 + float(parts[1]) + float(parts[2]) / 60
        else:
            return None
    else:
        minutes = float(time_string) / 60 
    return minutes

test['time_x'] = test['time_x'].apply(convert_to_minutes)

In [185]:
test['time_x'].value_counts()

time_x
0.772633    671
0.157533    566
0.518583    372
0.159500    372
1.716683    372
           ...
1.042867     12
1.441683     12
1.741267     12
0.614300      2
0.561233      2
Name: count, Length: 1146, dtype: int64

In [186]:
test.drop(['driverRef', 'dob', 'constructorRef'], inplace = True, axis = 1)

In [187]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 352928 entries, 0 to 352927
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   driver_full_name               352928 non-null  int32
 1   driver_nationality             352928 non-null  int32
 2   driverId                       352928 non-null  int64
 3   company                        352928 non-null  int32
 4   constructorId                  352928 non-null  int64
 5   company_nationality            352928 non-null  int32
 6   grand_prix                     352928 non-null  int32
 7   circuitId                      352928 non-null  int64
 8   time_y                         352928 non-null  float64
 9   year                           352928 non-null  int64
 10  date                           352928 non-null  float64
 11  age_of_driver_at_time_of_race  352928 non-null  int64
 12  racerId                        352928 non-null  int64
 13  grid                           352928 non-null  int64
 14  position_x                     307691 non-null  float64
 15  positionOrder                  352928 non-null  int64
 16  points                         352928 non-null  float64
 17  laps                           352928 non-null  int64
 18  time_x                         207503 non-null  float64
 19  time_taken                     352928 non-null  float64
 20  fastestLap                     340703 non-null  float64
 21  rank                           352928 non-null  float64
 22  fastestLapTime                 352928 non-null  float64
 23  max_speed                      352928 non-null  float64
 24  round                          352928 non-null  int64
 25  statusId                       352928 non-null  int64
 26  driverStandingsId              352928 non-null  int64
 27  raceId_y                       352928 non-null  int64
 28  points_y                       352928 non-null  float64
 29  wins                           352928 non-null  int64
 30  resultId                       352928 non-null  int64
 31  status                         352928 non-null  int32
 32  result_driver_standing         352928 non-null  int64
dtypes: float64(11), int32(6), int64(16)
memory usage: 80.8 MB

In [188]:
data6 = train
data7 = test

In [194]:
#Random Forest Regression using train.csv & test.csv

y = data6['position']
X = data6.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap','position'])
X_test = data7.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap'])


X_train_filled = X.fillna(0)
X_test_filled = X_test.fillna(0)

# Now fit your RandomForestRegressor
rf = RandomForestRegressor(random_state=42)
rf.fit(X_train_filled, y)

# Make predictions
y_pred = rf.predict(X_test_filled)


solution = pd.DataFrame({'position': y_pred, 'result_driver_standing': data7['result_driver_standing']})


solution.to_csv('solution.csv', index=False)

print('Solution CSV file created successfully.')

Solution CSV file created successfully.

In [195]:
data8 = train
data9 = test

In [196]:
##GradientBoostingRegressor  using train.csv and test.csv

y = data8['position']
X = data8.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap','position'])
X_test = data9.drop(columns=['driverId', 'constructorId', 'time_y', 'date','position_x', 'time_x', 'rank', 'fastestLap'])

X_train_filled = X.fillna(0)
X_test_filled = X_test.fillna(0)



# Model building
gbr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=4, random_state=42)
gbr.fit(X_train_filled, y)

# Make predictions
y_pred = gbr.predict(X_test_filled)

solution1 = pd.DataFrame({'position': y_pred, 'result_driver_standing': data9['result_driver_standing']})

solution1.to_csv('solution1.csv', index=False)

print('Solution CSV file created successfully.')

Solution CSV file created successfully.